<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">Quick Payroll</div>
</div>
<div class="bg-white">
  <div class="form-wrap w--700">
    <form>
      <div class="grid align-items-center">
        <label>Payroll Period</label>
        <div class="d-flex align-items-center">
          <div class="input mb-0 me-3">
            <label for="">Start Date</label>
            <input type="date" required />
          </div>
          <div class="input mb-0">
            <label for="">End Date</label>
            <input type="date" required />
          </div>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Payroll Schedule</label>
        <div class="input mb-0">
          <select class="select" required>
            <option disabled="" selected="" value="">
              Select payroll schedule
            </option>
            <option value="">Option One</option>
            <option value="">Option Two</option>
          </select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Payment Channel</label>
        <div class="input mb-0">
          <select class="select" required (change)="handlePayChannel($event)">
            <option disabled="" selected="" value="">
              Select payment channel
            </option>
            <option value="Master">Master Card</option>
            <option value="Bank">Bank Payment</option>
          </select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Run By</label>
        <div class="input mb-0">
          <select class="select" required (change)="handleRunBy($event)">
            <option disabled="" selected="" value="">
              Select payment channel
            </option>
            <option value="Payscale">By Payscale</option>
            <option value="Gross/net">By Gross/Net Pay</option>
          </select>
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="runByItem === 'Payscale'">
        <label>Select Payscale</label>
        <div class="input mb-0">
          <select class="select" required>
            <option disabled="" selected="" value="">
              Select payment channel
            </option>
            <option value="">Payscale One</option>
            <option value="">Payscale Two</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div
    class="abs-pos animate__animated animate__bounceIn"
    *ngIf="payChannel === 'Bank'"
  >
    <label>Bank Balance</label>
    <label class="bold-txt">NGN 39,000,920.00</label>
  </div>
</div>
<div class="bg-white">
  <div class="title-sm px-5">Select Employees</div>
  <ng-container *ngIf="runByItem === 'Gross/net'">
    <app-table
      [_data]="data_"
      _identifier="EMPLOYEESONGROSSPAYROLL"
    ></app-table>
  </ng-container>
  <ng-container *ngIf="runByItem === 'Payscale'">
    <app-table
      [_data]="data"
      _identifier="EMPLOYEESONPAYSCALEPAYROLL"
    ></app-table>
  </ng-container>

  <div class="d-flex justify-content-center align-items-center pb-5">
    <button
      mat-flat-button
      class="me-3"
      data-bs-toggle="modal"
      data-bs-target="#runPayroll"
      *ngIf="runByItem === 'Gross/net'"
    >
      Run Payroll
    </button>
    <button
      mat-flat-button
      class="me-3"
      data-bs-toggle="modal"
      data-bs-target="#runPayroll"
      *ngIf="runByItem === 'Payscale'"
    >
      Run Payroll
    </button>
  </div>
</div>

<!--Modal-->
<div class="modal fade" id="runPayroll" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Note</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3 px-2">
            <div class="my-4">
              <label class="title-sm fw-light"
                >5 employees do not have a Pay scale</label
              >
            </div>
            <div class="scroll">
              <div class="list--wrap w--500">
                <div class="item d-flex px-3">
                  <div class="avatar">
                    <img src="assets/img/profile.png" alt="profile" />
                  </div>
                  <div class="grid grid--repeat--three w-full">
                    <label>Animashaun Kiki<span>1234</span></label>
                    <label>Group head</label>
                    <label>Marketing</label>
                  </div>
                </div>
                <div class="item d-flex px-3">
                  <div class="avatar">
                    <img src="assets/img/profile.png" alt="profile" />
                  </div>
                  <div class="grid grid--repeat--three w-full">
                    <label>Animashaun Kiki<span>1234</span></label>
                    <label>Group head</label>
                    <label>Marketing</label>
                  </div>
                </div>
                <div class="item d-flex px-3">
                  <div class="avatar">
                    <img src="assets/img/profile.png" alt="profile" />
                  </div>
                  <div class="grid grid--repeat--three w-full">
                    <label>Animashaun Kiki<span>1234</span></label>
                    <label>Group head</label>
                    <label>Marketing</label>
                  </div>
                </div>
                <div class="item d-flex px-3">
                  <div class="avatar">
                    <img src="assets/img/profile.png" alt="profile" />
                  </div>
                  <div class="grid grid--repeat--three w-full">
                    <label>Animashaun Kiki<span>1234</span></label>
                    <label>Group head</label>
                    <label>Marketing</label>
                  </div>
                </div>
                <div class="item d-flex px-3">
                  <div class="avatar">
                    <img src="assets/img/profile.png" alt="profile" />
                  </div>
                  <div class="grid grid--repeat--three w-full">
                    <label>Animashaun Kiki<span>1234</span></label>
                    <label>Group head</label>
                    <label>Marketing</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <button mat-flat-button class="me-3">
                Continue to run payroll
              </button>
              <a
                [routerLink]="['/portal/payroll/assign-payscale']"
                [queryParams]="{ query: 'payscale' }"
                mat-stroked-button
                data-bs-dismiss="modal"
                class="btn--primary"
                *ngIf="runByItem === 'Payscale'"
              >
                Resolve Issue
              </a>
              <a
                [routerLink]="['/portal/payroll/assign-payscale']"
                [queryParams]="{ query: 'gross' }"
                mat-stroked-button
                data-bs-dismiss="modal"
                class="btn--primary"
                *ngIf="runByItem === 'Gross/net'"
              >
                Resolve Issue
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
