<div class="overflow--wrap">
  <div class="table-wrapper tbl-wrap">
    <div class="toolbar mb-5 adjust-wrap">
      <div class="d-flex align-items-center justify-content-start adjust-flex">
        <div class="d-flex align-items-center mr-1" style="width: fit-content">
          <!-- Master Checkbox-->
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Option One</span>
            </button>
            <button mat-menu-item>
              <span>Option Two</span>
            </button>
          </mat-menu>
        </div>
        <div class="search-input mr-1">
          <span><mat-icon>search</mat-icon></span>
          <input
            type="text"
            placeholder="Search"
            (keyup)="applyFilter($event)"
            #input
          />
        </div>
        <!-- All Sheet Report Filter-->
        <div *ngIf="_reportType === 'All Element Sheet Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#allSheetReportFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Bank Schedule Filter-->
        <div *ngIf="_reportType === 'Bank Schedule Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#bankSchFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Deduction Report Filter-->
        <div *ngIf="_reportType === 'Deduction Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#deductionReportFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Deduction Summary Report Filter-->
        <div *ngIf="_reportType === 'Deduction Summary Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#deductionSummaryFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Paymnent Summary Report Filter-->
        <div *ngIf="_reportType === 'Payment Summary Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#paymentSummaryFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Pension Details Report Filter-->
        <div *ngIf="_reportType === 'Pension Details Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#pensionDetailsReportFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Payslip Analysis Report Filter-->
        <div *ngIf="_reportType === 'Payslip Analysis Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payslipAnalysisReportFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Tax Details Report Filter-->
        <div *ngIf="_reportType === 'Tax Details Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#taxDetailReportFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Earning Report Filter-->
        <div *ngIf="_reportType === 'Earning Report'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#earningReportFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Institute Mgmt Filter-->
        <div *ngIf="_identifier === 'INSTITUTION'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#instMgmtFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Pay Elements Filter-->
        <div *ngIf="_identifier === 'PAYELEMENTS'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payElementFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Pay Scale Filter-->
        <div *ngIf="_identifier === 'PAYSCALE'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payScaleFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Payslip Analysis Filter-->
        <div *ngIf="_identifier === 'PAYSLIPANALYSIS'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payslipAnalysisFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- PayscalePayroll  Filter-->
        <div *ngIf="_identifier === 'EMPLOYEESONPAYSCALEPAYROLL'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payscalePayrollFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- PayscalePayroll  Filter-->
        <div *ngIf="_identifier === 'EMPLOYEESONGROSSPAYROLL'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#grossPayrollFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- PayrollRunlog  Filter-->
        <div *ngIf="_identifier === 'PAYROLLRUNLOG'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payrollRunLogFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Employee Filter-->
        <div
          *ngIf="
            _identifier === 'EMPLOYEES' ||
            _identifier === 'EMPLOYEESONPAYSCALE' ||
            _identifier === 'EMPLOYEEPAYSCALE'
          "
        >
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#employeeFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Sort by -->
        <div class="d-flex align-items-center mr-1">
          <label class="me-3">Sort by</label>
          <button
            mat-stroked-button
            class="mat-stroked-secondary"
            [matMenuTriggerFor]="sortby"
          >
            Most recent <mat-icon class="mx-2">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #sortby="matMenu">
            <button mat-menu-item>
              <span>Option One</span>
            </button>
            <button mat-menu-item>
              <span>Option Two</span>
            </button>
          </mat-menu>
        </div>
        <!-- Export as-->
        <div
          *ngIf="
            _identifier !== 'EMPLOYEES' &&
            _identifier !== 'EMPLOYEESONPAYSCALE' &&
            _identifier !== 'EMPLOYEESONGROSSPAYROLL' &&
            _identifier !== 'EMPLOYEESONPAYSCALEPAYROLL' &&
            _identifier !== 'EMPLOYEEPAYSCALE' &&
            _identifier !== 'PAYROLLRUNLOG'
          "
        >
          <button mat-stroked-button class="mat-stroked-secondary mr-1">
            Export as
          </button>
        </div>
        <!-- Print-->
        <div
          *ngIf="
            _identifier !== 'EMPLOYEES' &&
            _identifier !== 'EMPLOYEESONPAYSCALE' &&
            _identifier !== 'EMPLOYEESONGROSSPAYROLL' &&
            _identifier !== 'EMPLOYEESONPAYSCALEPAYROLL' &&
            _identifier !== 'EMPLOYEEPAYSCALE' &&
            _identifier !== 'PAYROLLRUNLOG'
          "
        >
          <button mat-button class="print">
            <mat-icon class="me-2">print</mat-icon> Print
          </button>
        </div>
        <!-- Email-->
        <button
          mat-button
          class="print"
          *ngIf="_identifier === 'PAYSLIPANALYSIS'"
        >
          <mat-icon class="me-2">share</mat-icon> Email
        </button>
        <!--  Bulk upload-->
        <div
          *ngIf="
            _identifier === 'EMPLOYEES' ||
            _identifier === 'EMPLOYEESONPAYSCALEPAYROLL' ||
            _identifier === 'EMPLOYEESONGROSSPAYROLL'
          "
        >
          <button
            mat-stroked-button
            class="mat-stroked-primary mat-stroked-secondary"
            data-bs-toggle="modal"
            data-bs-target="#bulkUpload"
          >
            <mat-icon class="me-3">file_upload</mat-icon>
            Bulk Upload
          </button>
        </div>
        <!--  Assign All -->
        <div *ngIf="_identifier === 'EMPLOYEEPAYSCALE'">
          <button
            mat-stroked-button
            class="mat-stroked-primary mat-stroked-secondary"
          >
            Assign All
          </button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="_identifier">
      <table
        mat-table
        [dataSource]="dataSource"
        class="table custom-table w--100"
        style="width: 100%"
      >
        <ng-container
          *ngFor="
            let disCol of displayedColumns;
            let colIndex = index;
            let last = last
          "
          [matColumnDef]="disCol"
        >
          <th mat-header-cell *matHeaderCellDef>{{ disCol }}</th>
          <ng-container *ngIf="colIndex === 0">
            <td *matCellDef="let element">
              <mat-checkbox
                [value]="element"
                (click)="$event.stopPropagation()"
                (change)="
                  $event ? selection.toggle(element) : null;
                  toggleCheck($event, i)
                "
                [checked]="selection.isSelected(element)"
              >
                <span>{{ element[disCol] }}</span>
              </mat-checkbox>
            </td>
          </ng-container>
          <!--Action Column-->
          <ng-container *ngIf="last && _identifier === 'INSTITUTION'">
            <td mat-cell *matCellDef="let element">
              <div class="dropdown">
                <span class="dropdown-toggle" [matMenuTriggerFor]="menu">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button
                    type="button"
                    mat-menu-item
                    data-bs-toggle="modal"
                    data-bs-target="#viewInstMgt"
                  >
                    View
                  </button>
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/institution-payment-setup']"
                    [queryParams]="{ query: 'edit' }"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    mat-menu-item
                    class="txt-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deactivate"
                  >
                    Deactivate
                  </button>
                </mat-menu>
              </div>
            </td>
          </ng-container>
          <ng-container *ngIf="last && _identifier === 'PAYELEMENTS'">
            <td mat-cell *matCellDef="let element">
              <div class="dropdown">
                <span class="dropdown-toggle" [matMenuTriggerFor]="menu">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button
                    type="button"
                    mat-menu-item
                    data-bs-toggle="modal"
                    data-bs-target="#viewPayElement"
                  >
                    View
                  </button>
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/pay-element-setup']"
                    [queryParams]="{ query: 'edit' }"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    mat-menu-item
                    class="txt-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deletePayElement"
                  >
                    Delete
                  </button>
                </mat-menu>
              </div>
            </td>
          </ng-container>
          <ng-container *ngIf="last && _identifier === 'PAYSCALE'">
            <td mat-cell *matCellDef="let element">
              <div class="dropdown">
                <span class="dropdown-toggle" [matMenuTriggerFor]="menu">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/view-payscale']"
                    [queryParams]="{ id: element.id, query: 'view' }"
                  >
                    View
                  </button>
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/pay-scale-setup']"
                    [queryParams]="{ query: 'edit' }"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    mat-menu-item
                    class="txt-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deletePayScale"
                  >
                    Delete
                  </button>
                </mat-menu>
              </div>
            </td>
          </ng-container>
          <ng-container *ngIf="last && _identifier === 'EMPLOYEESONPAYSCALE'">
            <td mat-cell *matCellDef="let element">
              <button
                type="button"
                mat-button
                class="btn-link"
                data-bs-toggle="modal"
                data-bs-target="#assignPayScale"
              >
                Assign Pay Scale
              </button>
            </td>
          </ng-container>
          <ng-container *ngIf="last && _identifier === 'PAYROLLRUNLOG'">
            <td mat-cell *matCellDef="let element">
              <div class="dropdown">
                <span class="dropdown-toggle" [matMenuTriggerFor]="menu">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </span>
                <mat-menu #menu="matMenu" class="mat-menu-content padded-menu">
                  <a
                    [routerLink]="['/portal/payroll/payroll-details']"
                    [queryParams]="{ query: element.status }"
                    mat-flat-button
                    class="btn-orange"
                  >
                    View Details
                  </a>
                  <a
                    routerLink="/portal/payroll/payslip-analysis"
                    mat-flat-button
                    >Payslip Analysis</a
                  >
                  <a
                    routerLink="/portal/payroll/payroll-analysis"
                    mat-flat-button
                    class="btn-light-blue"
                    >Payroll Analysis</a
                  >
                </mat-menu>
              </div>
            </td>
          </ng-container>
          <ng-container *ngIf="last && _identifier === 'PAYSLIPANALYSIS'">
            <td mat-cell *matCellDef="let element">
              <a
                routerLink="/portal/payroll/view-payslip"
                mat-button
                class="btn-link"
                >View</a
              >
            </td>
          </ng-container>
          <ng-container
            *ngIf="last && _identifier === 'EMPLOYEESONPAYSCALEPAYROLL'"
          >
            <td mat-cell *matCellDef="let element">
              <a
                [routerLink]="['/portal/payroll/review-payroll']"
                [queryParams]="{ query: 'payscale' }"
                mat-button
                class="btn-link"
                >View</a
              >
            </td>
          </ng-container>
          <ng-container
            *ngIf="last && _identifier === 'EMPLOYEESONGROSSPAYROLL'"
          >
            <td mat-cell *matCellDef="let element">
              <a
                [routerLink]="['/portal/payroll/review-payroll']"
                [queryParams]="{ query: 'gross' }"
                mat-button
                class="btn-link"
                >View</a
              >
            </td>
          </ng-container>
          <ng-container *ngIf="last && _reportType === 'Bank Schedule Report'">
            <td mat-cell *matCellDef="let element">
              <button
                type="button"
                mat-button
                class="btn-link"
                data-bs-toggle="modal"
                data-bs-target="#viewBankSchReport"
              >
                View
              </button>
            </td>
          </ng-container>
          <ng-container
            *ngIf="last && _reportType === 'All Element Sheet Report'"
          >
            <td mat-cell *matCellDef="let element">
              <button
                type="button"
                mat-button
                class="btn-link"
                data-bs-toggle="modal"
                data-bs-target="#viewAllSheetReport"
              >
                View
              </button>
            </td>
          </ng-container>
          <ng-container
            *ngIf="last && _reportType === 'Payslip Analysis Report'"
          >
            <td mat-cell *matCellDef="let element">
              <button
                type="button"
                mat-button
                class="btn-link"
                data-bs-toggle="modal"
                data-bs-target="#viewPayslipAnalysis"
              >
                View
              </button>
            </td>
          </ng-container>
          <!--Table  Row Content-->
          <td mat-cell *matCellDef="let element">
            <span *ngIf="_identifier !== 'PAYROLLRUNLOG'">{{
              element[disCol]
            }}</span>
            <span
              class="tag me-0"
              [ngClass]="{
                'status-approved': element[disCol] === 'Approved',
                'status-pending': element[disCol] === 'Pending'
              }"
              *ngIf="_identifier === 'PAYROLLRUNLOG' && element[disCol]"
            >
              {{ element[disCol] }}</span
            >
          </td>
        </ng-container>
        <!--Mat-table  configurations-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'bg-wrap': selection.isSelected(row) }"
        ></tr>
      </table>
    </ng-container>
    <!--Pagination-->
    <div class="d-flex justify-content-between align-items-center px-4">
      <span class="tbl_count">Showing 10 of 320</span>
      <nav>
        <ul class="pagination mt-4">
          <li class="page-item">
            <a class="page-lynk disabled">
              <span class="prev d-flex align-items-center">
                <ion-icon name="chevron-back-outline"></ion-icon>
                Previous
              </span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item"><a class="page-link">4</a></li>
          <li class="page-item nxt">
            <a class="page-lynk">
              <span class="next d-flex align-items-center">
                Next
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!--Modal Components-->
<app-modals [runByItem]="runByItem"></app-modals>
