<div class="overflow--wrap">
  <div class="table-wrapper tbl-wrap">
    <div class="toolbar mb-5 adjust-wrap">
      <div class="d-flex align-items-center justify-content-start adjust-flex">
        <div class="d-flex align-items-center mr-1" style="width: fit-content">
          <!-- Master Checkbox-->
          <mat-checkbox
            #masterCheck
            (change)="masterChecked($event)"
          ></mat-checkbox>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Option One</span>
            </button>
            <button mat-menu-item>
              <span>Option Two</span>
            </button>
          </mat-menu>
        </div>
        <div class="search-input mr-1">
          <span><mat-icon>search</mat-icon></span>
          <input type="text" placeholder="Search" />
        </div>
        <!-- Institute Mgmt Filter-->
        <div *ngIf="_identifier === 'INSTITUTION'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#instMgmtFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Pay Elements Filter-->
        <div *ngIf="_identifier === 'PAYELEMENTS'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payElementFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Pay Scale Filter-->
        <div *ngIf="_identifier === 'PAYSCALE'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payScaleFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- PayscalePayroll  Filter-->
        <div *ngIf="_identifier === 'EMPLOYEESONPAYSCALEPAYROLL'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payscalePayrollFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- PayscalePayroll  Filter-->
        <div *ngIf="_identifier === 'EMPLOYEESONGROSSPAYROLL'">
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#grossPayrollFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Employee Filter-->
        <div
          *ngIf="
            _identifier === 'EMPLOYEES' ||
            _identifier === 'EMPLOYEESONPAYSCALE' ||
            _identifier === 'EMPLOYEEPAYSCALE'
          "
        >
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#employeeFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
        </div>
        <!-- Sort by -->
        <div class="d-flex align-items-center mr-1">
          <label class="me-3">Sort by</label>
          <button
            mat-stroked-button
            class="mat-stroked-secondary"
            [matMenuTriggerFor]="sortby"
          >
            Most recent <mat-icon class="mx-2">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #sortby="matMenu">
            <button mat-menu-item>
              <span>Option One</span>
            </button>
            <button mat-menu-item>
              <span>Option Two</span>
            </button>
          </mat-menu>
        </div>
        <!-- Export as-->
        <div
          *ngIf="
            _identifier !== 'EMPLOYEES' &&
            _identifier !== 'EMPLOYEESONPAYSCALE' &&
            _identifier !== 'EMPLOYEESONGROSSPAYROLL' &&
            _identifier !== 'EMPLOYEESONPAYSCALEPAYROLL' &&
            _identifier !== 'EMPLOYEEPAYSCALE'
          "
        >
          <button mat-stroked-button class="mat-stroked-secondary mr-1">
            Export as
          </button>
        </div>
        <!-- Print-->
        <div
          *ngIf="
            _identifier !== 'EMPLOYEES' &&
            _identifier !== 'EMPLOYEESONPAYSCALE' &&
            _identifier !== 'EMPLOYEESONGROSSPAYROLL' &&
            _identifier !== 'EMPLOYEESONPAYSCALEPAYROLL' &&
            _identifier !== 'EMPLOYEEPAYSCALE'
          "
        >
          <button mat-button class="print">
            <mat-icon class="me-2">print</mat-icon> Print
          </button>
        </div>
        <!--  Bulk upload-->
        <div
          *ngIf="
            _identifier === 'EMPLOYEES' ||
            _identifier === 'EMPLOYEESONPAYSCALEPAYROLL' ||
            _identifier === 'EMPLOYEESONGROSSPAYROLL'
          "
        >
          <button
            mat-stroked-button
            class="mat-stroked-primary mat-stroked-secondary"
            data-bs-toggle="modal"
            data-bs-target="#bulkUpload"
          >
            <mat-icon class="me-3">file_upload</mat-icon>
            Bulk Upload
          </button>
        </div>
        <!--  Assign All -->
        <div *ngIf="_identifier === 'EMPLOYEEPAYSCALE'">
          <button
            mat-stroked-button
            class="mat-stroked-primary mat-stroked-secondary"
          >
            Assign All
          </button>
        </div>
      </div>
    </div>
    <table class="table custom-table w--100">
      <thead>
        <tr>
          <th *ngFor="let title of _tblHeader">{{ title }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngIf="
            _identifier === 'EMPLOYEES' || _identifier === 'EMPLOYEEPAYSCALE'
          "
        >
          <tr *ngFor="let item of employeeData; let i = index" #tbl_Rows>
            <td>
              <mat-checkbox
                [value]="item"
                [checked]="item.isSelected"
                (change)="toggleCheck($event, item.id, i)"
                >{{ item.name }}</mat-checkbox
              >
            </td>
            <td>
              <span>{{ item.empId }}</span>
            </td>
            <td>
              <span>{{ item.department }}</span>
            </td>
            <td>
              <span>{{ item.dateCreated }}</span>
            </td>
            <td *ngIf="_identifier === 'EMPLOYEEPAYSCALE'">
              <button mat-button class="btn-link">Assign Pay Scale</button>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="_identifier === 'EMPLOYEESONPAYSCALE'">
          <tr
            *ngFor="let item of employeesOnPayscaleData; let i = index"
            #tbl_Rows
          >
            <td>
              <mat-checkbox
                [value]="item"
                [checked]="item.isSelected"
                (change)="toggleCheck($event, item.id, i)"
                >{{ item.name }}</mat-checkbox
              >
            </td>
            <td>
              <span>{{ item.empId }}</span>
            </td>
            <td>
              <span>{{ item.department }}</span>
            </td>
            <td>
              <span>{{ item.dateCreated }}</span>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="_identifier === 'EMPLOYEESONPAYSCALEPAYROLL'">
          <tr
            *ngFor="let item of employeesOnPayscalePayrollData; let i = index"
            #tbl_Rows
          >
            <td>
              <mat-checkbox
                [value]="item"
                [checked]="item.isSelected"
                (change)="toggleCheck($event, item.id, i)"
                >{{ item.name }}</mat-checkbox
              >
            </td>
            <td>
              <span>{{ item.empId }}</span>
            </td>
            <td>
              <span>{{ item.totalEarning }}</span>
            </td>
            <td>
              <span>{{ item.totalDeduction }}</span>
            </td>
            <td>
              <span>{{ item.netPay }}</span>
            </td>
            <td>
              <span>{{ item.hoursWorked }}</span>
            </td>
            <td>
              <a
                [routerLink]="['/portal/payroll/review-payroll']"
                [queryParams]="{ query: 'payscale' }"
                mat-button
                class="btn-link"
                >View</a
              >
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="_identifier === 'EMPLOYEESONGROSSPAYROLL'">
          <tr
            *ngFor="let item of employeesOnGrossPayrollData; let i = index"
            #tbl_Rows
          >
            <td>
              <mat-checkbox
                [value]="item"
                [checked]="item.isSelected"
                (change)="toggleCheck($event, item.id, i)"
                >{{ item.name }}</mat-checkbox
              >
            </td>
            <td>
              <span>{{ item.grossMothlySalary }}</span>
            </td>
            <td>
              <span>{{ item.earnings }}</span>
            </td>
            <td>
              <span>{{ item.deductions }}</span>
            </td>
            <td>
              <span>{{ item.netSalary }}</span>
            </td>
            <td>
              <span>{{ item.prorateDeduction }}</span>
            </td>
            <td>
              <button
                mat-button
                [routerLink]="['/portal/payroll/review-payroll']"
                [queryParams]="{ query: 'gross' }"
                class="btn-link"
              >
                View
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="_identifier === 'INSTITUTION'">
          <tr *ngFor="let item of institutionData; let i = index" #tbl_Rows>
            <td>
              <mat-checkbox
                [value]="item"
                [checked]="item.isSelected"
                (change)="toggleCheck($event, item.id, i)"
                >{{ item.name }}</mat-checkbox
              >
            </td>
            <td>
              <span>{{ item.category }}</span>
            </td>
            <td>
              <span>{{ item.accountName }}</span>
            </td>
            <td>
              <span>{{ item.accountNumber }}</span>
            </td>
            <td>
              <span>{{ item.bank }}</span>
            </td>
            <td>
              <span>{{ item.createdDate }}</span>
            </td>
            <td>
              <div class="dropdown">
                <span class="dropdown-toggle" [matMenuTriggerFor]="menu">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    data-bs-toggle="modal"
                    data-bs-target="#viewInstMgt"
                  >
                    View
                  </button>
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/institution-payment-setup']"
                    [queryParams]="{ query: 'edit' }"
                  >
                    Edit
                  </button>
                  <button
                    mat-menu-item
                    class="txt-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deactivate"
                  >
                    Deactivate
                  </button>
                </mat-menu>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="_identifier === 'PAYELEMENTS'">
          <tr *ngFor="let item of payElementsData; let i = index" #tbl_Rows>
            <td>
              <mat-checkbox
                [value]="item"
                [checked]="item.isSelected"
                (change)="toggleCheck($event, item.id, i)"
                >{{ item.name }}</mat-checkbox
              >
            </td>
            <td>
              <span>{{ item.payType }}</span>
            </td>
            <td>
              <span>{{ item.elementName }}</span>
            </td>
            <td>
              <span>{{ item.elementCategory }}</span>
            </td>
            <td>
              <span>{{ item.elementType }}</span>
            </td>
            <td>
              <span>{{ item.amount }}</span>
            </td>
            <td>
              <span>{{ item.institution }}</span>
            </td>
            <td>
              <div class="dropdown">
                <span class="dropdown-toggle" [matMenuTriggerFor]="menu">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    data-bs-toggle="modal"
                    data-bs-target="#viewPayElement"
                  >
                    View
                  </button>
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/pay-element-setup']"
                    [queryParams]="{ query: 'edit' }"
                  >
                    Edit
                  </button>
                  <button
                    mat-menu-item
                    class="txt-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deletePayElement"
                  >
                    Delete
                  </button>
                </mat-menu>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="_identifier === 'PAYSCALE'">
          <tr *ngFor="let item of payScaleData; let i = index" #tbl_Rows>
            <td>
              <mat-checkbox
                [value]="item"
                [checked]="item.isSelected"
                (change)="toggleCheck($event, item.id, i)"
                >{{ item.name }}</mat-checkbox
              >
            </td>
            <td>
              <span>{{ item.payElement }}</span>
            </td>
            <td>
              <span>{{ item.payFrequency }}</span>
            </td>
            <td>
              <span>{{ item.noOfEmployees }}</span>
            </td>
            <td>
              <div class="dropdown">
                <span class="dropdown-toggle" [matMenuTriggerFor]="menu">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/view-payscale']"
                    [queryParams]="{ id: item.id }"
                  >
                    View
                  </button>
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/pay-scale-setup']"
                    [queryParams]="{ query: 'edit' }"
                  >
                    Edit
                  </button>
                  <button
                    mat-menu-item
                    class="txt-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deletePayScale"
                  >
                    Delete
                  </button>
                </mat-menu>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center px-4">
      <span class="tbl_count">Showing 10 of 320</span>
      <nav>
        <ul class="pagination mt-4">
          <li class="page-item">
            <a class="page-lynk disabled">
              <span class="prev d-flex align-items-center">
                <ion-icon name="chevron-back-outline"></ion-icon>
                Previous
              </span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item"><a class="page-link">4</a></li>
          <li class="page-item nxt">
            <a class="page-lynk">
              <span class="next d-flex align-items-center">
                Next
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!--Modal Components-->
<div class="modal fade" id="employeeFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap">
              <div class="input">
                <label>ID</label>
                <input type="text" placeholder="Enter id" />
              </div>
              <div class="input">
                <label>Department</label>
                <select class="select" required>
                  <option disabled="" selected="" value="">
                    Select category
                  </option>
                </select>
              </div>
              <div class="input">
                <label>Employement Date</label>
                <input type="date" required />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">
                  Apply
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="instMgmtFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap">
              <div class="input">
                <label>Category</label>
                <select class="select" required>
                  <option disabled="" selected="" value="">
                    Select category
                  </option>
                </select>
              </div>
              <div class="input">
                <label>Bank</label>
                <select class="select" required>
                  <option disabled="" selected="" value="">Select bank</option>
                </select>
              </div>
              <div class="input">
                <label>Date Created</label>
                <input type="date" required />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">
                  Apply
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="payElementFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap scroll">
              <div class="input">
                <label>Pay Type</label>
                <select class="select" required>
                  <option disabled="" selected="" value="">
                    Select pay type
                  </option>
                </select>
              </div>
              <div class="input">
                <label>Element Name</label>
                <input type="text" placeholder="Element name" />
              </div>
              <div class="input">
                <label>Element Category</label>
                <select class="select" required>
                  <option disabled="" selected="" value="">
                    Select category
                  </option>
                </select>
              </div>
              <div class="input">
                <label>Element Type</label>
                <select class="select" required>
                  <option disabled="" selected="" value="">
                    Select element type
                  </option>
                </select>
              </div>
              <div class="input">
                <label>Amount</label>
                <input type="text" placeholder="Amount" />
              </div>
              <div class="input">
                <label>Institution</label>
                <select class="select" required>
                  <option disabled="" selected="" value="">
                    Select institution
                  </option>
                </select>
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">
                  Apply
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="payScaleFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap">
              <div class="input">
                <label>Scale Name</label>
                <input type="text" placeholder="Enter scale name" />
              </div>
              <div class="input">
                <label>Pay Elements</label>
                <select class="select" required>
                  <option disabled="" selected="" value="">
                    Select pay elements
                  </option>
                </select>
              </div>
              <div class="input">
                <label>Pay Frequency</label>
                <input type="text" placeholder="Enter pay frequency" />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">
                  Apply
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="payscalePayrollFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap">
              <div class="input">
                <label>ID</label>
                <input type="text" placeholder="Enter id" />
              </div>
              <div class="input">
                <label>Total Earnings</label>
                <input type="number" placeholder="Enter amount" />
              </div>
              <div class="input">
                <label>Total Deductions</label>
                <input type="number" placeholder="Enter amount" />
              </div>
              <div class="input">
                <label>Net Pay</label>
                <input type="number" placeholder="Enter amount" />
              </div>
              <div class="input">
                <label>Hours Worked</label>
                <input type="number" placeholder="Enter hours" />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">
                  Apply
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="grossPayrollFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap">
              <div class="input">
                <label>Gross Monthly Salary</label>
                <input type="text" placeholder="Enter amount" />
              </div>
              <div class="input">
                <label>Earnings</label>
                <input type="number" placeholder="Enter amount" />
              </div>
              <div class="input">
                <label>Deductions</label>
                <input type="number" placeholder="Enter amount" />
              </div>
              <div class="input">
                <label>Net Salary</label>
                <input type="number" placeholder="Enter amount" />
              </div>
              <div class="input">
                <label>Prorate Deduction</label>
                <input type="number" placeholder="Enter hours" />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">
                  Apply
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="viewInstMgt" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Institution Management</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div class="bg-white w--400 m-3">
              <div class="grid grid--repeat--two list-items">
                <label>Name</label>
                <label><span>Tola Folaranmi</span></label>
                <label>Category </label>
                <label><span>Pension</span></label>
                <label>Account Name </label>
                <label><span>*******</span></label>
                <label>Account Number </label>
                <label><span>0099496452</span></label>
                <label>Bank </label>
                <label><span>UBA</span></label>
              </div>
              <div class="pt-4 mt-auto">
                <button mat-flat-button data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="viewPayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">View Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div class="bg-white w--400 scroll m-3">
              <div class="grid grid--repeat--two list-items">
                <label>Name</label>
                <label><span>Test</span></label>
                <label>Pay Type </label>
                <label><span>Standard</span></label>
                <label>Element Name </label>
                <label><span>AGM</span></label>
                <label>Element Type </label>
                <label><span>Transport</span></label>
                <label>Element Category </label>
                <label><span>Taxable</span></label>
                <label>Amount </label>
                <label><span>₦20,000.00</span></label>
                <label>Payment institution </label>
                <label><span>Pencom</span></label>
                <label>Variable </label>
                <label><span>True</span></label>
                <label>Ratio </label>
                <label><span>32%</span></label>
                <label>Pay Element </label>
                <label><span>32</span></label>
                <label>Taxable </label>
                <label><span>False</span></label>
              </div>
              <div class="d-flex align-items-center pt-5 mt-auto">
                <button mat-flat-button>Edit</button>
                <button
                  mat-stroked-button
                  class="btn--danger mx-3"
                  data-bs-toggle="modal"
                  data-bs-target="#deletePayElement"
                >
                  Delete
                </button>
                <button mat-button data-bs-dismiss="modal" class="btn-link">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletePayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Delete Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div class="center">
              <p>
                Are you sure you want to deactivate this item? They will no
                longer be accessible.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end align-items-center">
          <button mat-flat-button class="me-3">Delete</button>
          <button mat-stroked-button data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletePayScale" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Delete Pay Scale</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div class="center">
              <p>
                Are you sure you want to deactivate this item? They will no
                longer be accessible.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end align-items-center">
          <button mat-flat-button class="me-3">Delete</button>
          <button mat-stroked-button data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deactivate" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Deactivate Institution</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div class="center">
              <p>
                Are you sure you want to deactivate this item? They will no
                longer be accessible.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end align-items-center">
          <button mat-flat-button class="me-3">Deactivate</button>
          <button mat-stroked-button data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="bulkUpload" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div class="container">
          <div class="file__content">
            <div class="d-flex justify-content-between align-items-center">
              <button mat-button color="primary">
                <mat-icon class="me-2">backup</mat-icon> Download sample file
              </button>
              <button mat-icon-button data-bs-dismiss="modal">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <figure>
              <div class="dashed-border">
                <div
                  class="d-flex justify-content-center align-items-center flex-column"
                >
                  <div class="mb-3 mt-2">
                    <img src="assets/img/file-upload-ico.svg" alt="" />
                  </div>
                  <button mat-stroked-button>Add File</button>
                  <label class="txt-md txt-grey mt-2"
                    >or drop files to upload</label
                  >
                </div>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button mat-flat-button>Submit</button>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
