@import "src/scss/_vars.scss";
.bg-white {
  padding: 2em;
  .overview {
    ._header {
      label {
        margin-bottom: 0.9em;
        &:first-child {
          font-weight: bold;
        }
      }
    }
    ._sub_header {
      .grid label {
        font-weight: 100;
        color: rgba(#343a40, 0.8);
        span {
          font-weight: 400;
          color: $black;
        }
      }
    }
  }
  .details {
    .header {
      background: #f5f5fa;
      padding: 1.5em 2em;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      label {
        font-style: 18px;
        color: $light-grey;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
    .footer {
      background: #f5f5fa;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      label {
        font-size: 18px;
        color: #080730;
        text-transform: uppercase;
        font-weight: 300;
        &:last-child {
          font-weight: 500;
        }
      }
    }
    aside {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background: #fafafb;
      .d-flex {
        padding: 1.5em 2em;
        label {
          font-style: 14px;
          color: $black;
        }
      }
    }
  }
  .total {
    padding: 1em 2em;
    background: #f5f5fa;
    margin-top: 2em;
    border-radius: 4px;
    label {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 991px) {
    padding: 1em;
    .overview {
      .d-flex {
        flex-direction: column;
      }
      .grid {
        grid-template-columns: auto auto;
      }
    }
    .total {
      padding: 1em;
      .d-flex {
        padding-right: 0em;
      }
    }
  }
}
