<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">Payslip</div>
</div>
<div class="d-flex align-items-center mb-2">
  <a href="javascript:window.history.go(-1)" mat-button>
    <span class="icon-circ me-3"
      ><mat-icon mat-icon-button>arrow_back</mat-icon></span
    >
    Back
  </a>
</div>
<div class="d-flex justify-content-end mb-4">
  <button type="button" mat-button class="print">
    <mat-icon class="me-2">print</mat-icon> Print
  </button>
  <button type="button" mat-button class="print">
    <mat-icon class="me-2">share</mat-icon> Email
  </button>
</div>
<div class="bg-white">
  <section class="overview">
    <div class="_header d-flex justify-content-between align-items-center">
      <div class="address d-flex flex-column">
        <label>Triton</label>
        <label>3 Ablore Street, Off Freedom Way, Lekki Phase 1, Lagos</label>
        <small>Info@tritonworldgroup.ng</small>
      </div>
      <div class="logo">
        <img src="assets/img/triton.svg" alt="logo" />
      </div>
    </div>
    <div class="_sub_header grid grid--1fr--1fr my-5">
      <div class="grid grid--1fr--1fr grid-row-gap-20">
        <label>EMPLOYEE ID:</label>
        <label><span>SC2345</span></label>
        <label>EMPLOYEE NAME:</label>
        <label><span>Tara Badmus</span></label>
        <label>EMPLOYEE ADDRESS:</label>
        <label><span>5, Lorem Ipsum, Lekki, Lagos.</span></label>
      </div>
      <div class="grid grid--1fr--1fr grid-row-gap-20">
        <label>EMPLOYEE CONTACT:</label>
        <label><span>+234 813 285 3417</span></label>
        <label>SALARY DATE:</label>
        <label><span>1st Dec 2021</span></label>
        <label>MODE OF PAYMENT:</label>
        <label><span>Lorem Ipsum</span></label>
      </div>
    </div>
    <mat-divider></mat-divider>
  </section>
  <section class="grid grid--1fr--1fr grid-column-gap-30 details mt-5">
    <aside>
      <div class="header"><label>earnings</label></div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Regular Earnings</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Overtime</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Incentive Pay</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Bonus</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Maintenance Allowance</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>House Rent Allowance</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Education Allowance</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Car Allowance</label>
        <label>Other Allowance</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Other Allowance</label>
        <label>₦ 76,532.81</label>
      </div>
      <div class="footer">
        <div class="d-flex align-items-center justify-content-between">
          <label>Total Earnings</label>
          <label>₦ 100,768.60</label>
        </div>
      </div>
    </aside>
    <aside>
      <div class="header"><label>deductions</label></div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Provident Fund</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Federal Witholding</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Federal MED</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Federal OASDI</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>State Witholding</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Income Tax</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Professional Tax</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Personal Loan</label>
        <label>₦ 76,532.81</label>
      </div>
      <mat-divider></mat-divider>
      <div class="d-flex align-items-center justify-content-between">
        <label>Advance Salary</label>
        <label>₦ 76,532.81</label>
      </div>
      <div class="footer">
        <div class="d-flex align-items-center justify-content-between">
          <label>Total Earnings</label>
          <label>₦ 100,768.60</label>
        </div>
      </div>
    </aside>
  </section>
  <div class="total d-flex align-items-center justify-content-between">
    <label>net salary</label>
    <label>₦ 400,000.81</label>
  </div>
</div>
