<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">Payslip</div>
</div>
<div class="d-flex align-items-center mb-2">
  <a href="javascript:window.history.go(-1)" mat-button>
    <span class="icon-circ me-3"
      ><mat-icon mat-icon-button>arrow_back</mat-icon></span
    >
    Back
  </a>
</div>
<div class="d-flex justify-content-end mb-4">
  <button type="button" mat-button class="print">
    <mat-icon class="me-2">print</mat-icon> Print
  </button>
  <button type="button" mat-button class="print">
    <mat-icon class="me-2">share</mat-icon> Email
  </button>
</div>
<div class="bg-white">
  <section class="overview">
    <ng-container *ngIf="!itemDetails">
      <app-loading-roller></app-loading-roller>
    </ng-container>
    <div
      class="_header d-flex justify-content-between align-items-center"
      *ngIf="itemDetails"
    >
      <div class="address d-flex flex-column">
        <label>Triton</label>
        <label>{{
          itemDetails["address"] ? itemDetails["address"] : "---"
        }}</label>
        <small>{{
          itemDetails["emailAddress"] ? itemDetails["emailAddress"] : "---"
        }}</small>
      </div>
      <div class="logo">
        <img src="assets/img/triton.svg" alt="logo" />
      </div>
    </div>
    <div class="_sub_header grid grid--1fr--1fr my-5" *ngIf="itemDetails">
      <div class="grid grid--1fr--1fr grid-row-gap-20">
        <label>EMPLOYEE ID:</label>
        <label
          ><span>{{
            itemDetails["employeeNo"] ? itemDetails["employeeNo"] : "---"
          }}</span></label
        >
        <label>EMPLOYEE NAME:</label>
        <label
          ><span>{{
            itemDetails["employeeName"] ? itemDetails["employeeName"] : "---"
          }}</span></label
        >
        <label>EMPLOYEE ADDRESS:</label>
        <label
          ><span>{{
            itemDetails["contactAddress"]
              ? itemDetails["contactAddress"]
              : "---"
          }}</span></label
        >
      </div>
      <div class="grid grid--1fr--1fr grid-row-gap-20">
        <label>EMPLOYEE CONTACT:</label>
        <label
          ><span>{{
            itemDetails["phoneNumber"] ? itemDetails["phoneNumber"] : "---"
          }}</span></label
        >
        <label>SALARY DATE:</label>
        <label
          ><span>{{
            itemDetails["payDate"]
              ? (itemDetails["payDate"] | date: "mediumDate")
              : "---"
          }}</span></label
        >
        <label>MODE OF PAYMENT:</label>
        <label
          ><span>{{
            itemDetails["paymentChannel"]
              ? _paymentChannelValue(itemDetails["paymentChannel"])
              : "---"
          }}</span></label
        >
      </div>
    </div>
    <mat-divider></mat-divider>
  </section>
  <section
    class="grid grid--1fr--1fr grid-column-gap-30 details mt-5"
    *ngIf="itemDetails"
  >
    <aside>
      <div class="header"><label>earnings</label></div>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let item of payElementBreakdownList">
        <ng-container
          *ngIf="elementTypeValue(item['elementType']) == 'Earnings'"
        >
          <div class="d-flex align-items-center justify-content-between">
            <label>{{ item["payElementName"] }}</label>
            <label>{{ item["totalAmount"] | currency: "₦":"symbol" }}</label>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
      </ng-container>
      <div class="footer">
        <div class="d-flex align-items-center justify-content-between">
          <label>Total Earnings</label>
          <label>{{
            itemDetails["totalEarning"] | currency: "₦":"symbol"
          }}</label>
        </div>
      </div>
    </aside>
    <aside>
      <div class="header"><label>deductions</label></div>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let item of payElementBreakdownList">
        <ng-container
          *ngIf="elementTypeValue(item['elementType']) == 'Deductions'"
        >
          <div class="d-flex align-items-center justify-content-between">
            <label>{{ item["payElementName"] }}</label>
            <label>{{ item["totalAmount"] | currency: "₦":"symbol" }}</label>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
      </ng-container>
      <div class="footer">
        <div class="d-flex align-items-center justify-content-between">
          <label>Total Deductions</label>
          <label>{{
            itemDetails["totalDeduction"] | currency: "₦":"symbol"
          }}</label>
        </div>
      </div>
    </aside>
  </section>
  <div
    class="total d-flex align-items-center justify-content-between"
    *ngIf="itemDetails"
  >
    <label>net salary</label>
    <label>{{ itemDetails["netPay"] | currency: "₦":"symbol" }}</label>
  </div>
</div>
