<main class="auth">
  <div class="grid grid--1fr--2fr">
    <div class="banner"><img src="assets/img/banner.png" alt="banner" /></div>
    <div class="form-wrap">
      <div class="d-flex justify-content-center mb-3">
        <img src="assets/img/triton.svg" alt="triton" />
      </div>
      <h2>Payroll Portal <span>Sign In With your payroll Account</span></h2>
      <form>
        <div class="input">
          <label>Email Address</label>
          <input type="text" placeholder="Enter email" />
        </div>
        <div class="input">
          <label>Password</label>
          <input type="password" placeholder="Enter password" />
          <span>&nbsp;</span>
        </div>
        <button type="button" mat-flat-button class="w-100" routerLink="portal">
          Continue
        </button>
        <div class="d-flex justify-content-center my-3">
          <a href="/" target="_blank" class="underline"
            >Signup instead <span></span
          ></a>
        </div>
        <div class="d-block">
          <span class="d-flex justify-content-center mt-3"
            >Forgot your password?
            <a href="/" target="_blank" class="mx-2">Reset</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</main>
