<ng-container *ngIf="queryString === 'payscale'">
  <div class="header d-flex align-items-center justify-content-between mb-4">
    <div class="title">Review Employee Payroll</div>
  </div>
  <div class="d-flex align-items-center mb-4">
    <a href="javascript:window.history.go(-1)" mat-button>
      <span class="icon-circ me-3"
        ><mat-icon mat-icon-button>arrow_back</mat-icon></span
      >
      Back
    </a>
  </div>
  <div class="bg-white">
    <div class="title-sm mb-5">Basic Details</div>
    <div class="overview">
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <div class="d-flex" *ngIf="itemDetails">
        <div class="avatar me-3">
          <img src="assets/img/profile.png" alt="profile" />
        </div>
        <div class="grid grid--repeat--four w--full">
          <div class="d-flex">
            <label><span>Full Name</span>{{ itemDetails["fullName"] }}</label>
          </div>
          <label><span>ID</span>{{ itemDetails["employeeNo"] }}</label>
          <label
            ><span>Position</span
            >{{
              itemDetails["position"] ? itemDetails["position"] : "---"
            }}</label
          >
          <label
            ><span>Department</span
            >{{
              itemDetails["department"] ? itemDetails["department"] : "---"
            }}</label
          >
          <label
            ><span>Last pay date</span
            >{{
              itemDetails["lastPayDate"]
                ? (itemDetails["lastPayDate"] | date: "mediumDate")
                : "---"
            }}</label
          >
          <label>
            <span>Payroll Period</span>
            {{
              itemDetails["startDate"]
                ? (itemDetails["startDate"] | date: "mediumDate")
                : "---"
            }}
            -
            {{
              itemDetails["endDate"]
                ? (itemDetails["endDate"] | date: "mediumDate")
                : "---"
            }}</label
          >
          <label><span>Absent days</span>{{ itemDetails["absentDays"] }}</label>
          <label
            ><span>Hours Worked</span>{{ itemDetails["hoursWorked"] }}</label
          >
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid--2fr--1fr mt-4">
    <div class="bg-white colored-border border-blue">
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <div
        class="d-flex align-items-center justify-content-between mb-4"
        *ngIf="itemDetails"
      >
        <div class="title-sm">Pay Element Breakdown</div>
        <button
          mat-button
          class="btn--primary"
          data-bs-toggle="modal"
          data-bs-target="#addPayElement"
          (click)="query_ = 'add'"
        >
          <mat-icon class="me-2">add</mat-icon>
          Add Pay Element
        </button>
      </div>
      <section *ngIf="itemDetails">
        <div class="title-md fw-500 mb-3">Earnings</div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <ng-container *ngFor="let item of payElementBreakdownList">
            <ng-container *ngIf="item['elementType'] == 1">
              <div class="d-flex justify-content-between">
                <label>{{ item["payElementName"] }}</label>
                <label>{{ item["earning"] | currency: "₦":"symbol" }}</label>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  mat-button
                  class="btn--primary"
                  data-bs-toggle="modal"
                  data-bs-target="#editPayElement"
                  (click)="getPayelementDetails(item['payElementId'])"
                >
                  Edit
                </button>
              </div>
            </ng-container>
          </ng-container>
          <div class="d-flex justify-content-between mt-4">
            <label>TOTAL EARNINGS</label>
            <label>{{
              itemDetails["totalEarning"] | currency: "₦":"symbol"
            }}</label>
          </div>
        </div>
      </section>
      <section class="mt-5 pt-4" *ngIf="itemDetails">
        <div class="title-md fw-500 mb-3">Deductions</div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <ng-container *ngFor="let item of payElementBreakdownList">
            <ng-container *ngIf="item['elementType'] == 2">
              <div class="d-flex justify-content-between">
                <label>{{ item["payElementName"] }}</label>
                <label>{{ item["deduction"] | currency: "₦":"symbol" }}</label>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  mat-button
                  class="btn--primary"
                  data-bs-toggle="modal"
                  data-bs-target="#editPayElement"
                  (click)="getPayelementDetails(item['payElementId'])"
                >
                  Edit
                </button>
              </div>
            </ng-container>
          </ng-container>
          <div
            class="d-flex justify-content-between mt-4"
            *ngIf="itemDetails['totalDeduction'] !== 0"
          >
            <label>TOTAL DEDUCTIONS</label>
            <label>{{
              itemDetails["totalDeduction"]
                ? (itemDetails["totalDeduction"] | currency: "₦":"symbol")
                : "---"
            }}</label>
          </div>
        </div>
      </section>
      <div class="total" *ngIf="itemDetails">
        <div class="grid grid--repeat--two">
          <div class="d-flex justify-content-between align-items-center">
            <label>TOTAL (GROSS)</label>
            <label>{{
              itemDetails["totalEarning"]
                ? (itemDetails["totalEarning"] | currency: "₦":"symbol")
                : "---"
            }}</label>
          </div>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="sticky">
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <div class="bg-white colored-border border-green" *ngIf="itemDetails">
        <section>
          <div class="title-md fw-500 mb-4">Summary</div>
          <div class="grid grid--1fr--1fr grid-row-gap-20">
            <label>Total Earnings</label>
            <label>{{
              itemDetails["totalEarning"] | currency: "₦":"symbol"
            }}</label>
            <label>Total Deductions</label>
            <label>{{
              itemDetails["totalDeduction"] | currency: "₦":"symbol"
            }}</label>
          </div>
          <div class="total adjust">
            <div class="d-flex justify-content-between align-items-center">
              <label>TOTAL (GROSS)</label>
              <label>{{
                itemDetails["totalEarning"]
                  ? (itemDetails["totalEarning"] | currency: "₦":"symbol")
                  : "---"
              }}</label>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="queryString === 'gross'">
  <div class="header d-flex align-items-center justify-content-between mb-4">
    <div class="title">Review Employee Payroll</div>
  </div>
  <div class="d-flex align-items-center mb-4">
    <a href="javascript:window.history.go(-1)" mat-button>
      <span class="icon-circ me-3"
        ><mat-icon mat-icon-button>arrow_back</mat-icon></span
      >
      Back
    </a>
  </div>
  <div class="bg-white">
    <div class="title-sm mb-5">Basic Details</div>
    <div class="overview">
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <div class="d-flex" *ngIf="itemDetails">
        <div class="avatar me-3">
          <img src="assets/img/profile.png" alt="profile" />
        </div>
        <div class="grid grid--repeat--four w--full">
          <div class="d-flex">
            <label><span>Full Name</span>{{ itemDetails["fullName"] }}</label>
          </div>
          <label><span>ID</span>{{ itemDetails["employeeNo"] }}</label>
          <label
            ><span>Position</span
            >{{
              itemDetails["position"] ? itemDetails["position"] : "---"
            }}</label
          >
          <label
            ><span>Department</span
            >{{
              itemDetails["department"] ? itemDetails["department"] : "---"
            }}</label
          >
          <label
            ><span>Last pay date</span
            >{{
              itemDetails["lastPayDate"]
                ? (itemDetails["lastPayDate"] | date: "mediumDate")
                : "---"
            }}</label
          >
          <label>
            <span>Payroll Period</span>
            {{
              itemDetails["startDate"]
                ? (itemDetails["startDate"] | date: "mediumDate")
                : "---"
            }}
            -
            {{
              itemDetails["endDate"]
                ? (itemDetails["endDate"] | date: "mediumDate")
                : "---"
            }}</label
          >
          <label><span>Absent days</span>{{ itemDetails["absentDays"] }}</label>
          <label
            ><span>Hours Worked</span>{{ itemDetails["hoursWorked"] }}</label
          >
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid--2fr--1fr mt-4">
    <div class="bg-white colored-border border-blue">
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <div
        class="d-flex align-items-center justify-content-between mb-4"
        *ngIf="itemDetails"
      >
        <div class="title-sm">Gross Breakdown</div>
        <button
          mat-button
          class="btn--primary"
          data-bs-toggle="modal"
          data-bs-target="#addPayElement"
        >
          <mat-icon class="me-2">add</mat-icon>
          Add Pay Element
        </button>
      </div>
      <section *ngIf="itemDetails">
        <div class="title-md fw-500 mb-3">Earnings</div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <ng-container *ngFor="let item of payElementBreakdownList">
            <ng-container *ngIf="item['elementType'] == 1">
              <div class="d-flex justify-content-between">
                <label>{{ item["payElementName"] }}</label>
                <label>{{ item["earning"] | currency: "₦":"symbol" }}</label>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  mat-button
                  class="btn--primary"
                  data-bs-toggle="modal"
                  data-bs-target="#editPayElement"
                >
                  Edit
                </button>
              </div>
            </ng-container>
          </ng-container>
          <div class="d-flex justify-content-between mt-4">
            <label>TOTAL EARNINGS</label>
            <label>{{
              itemDetails["totalEarning"] | currency: "₦":"symbol"
            }}</label>
          </div>
        </div>
      </section>
      <section class="mt-5 pt-4" *ngIf="itemDetails">
        <div class="title-md fw-500 mb-3">Deductions</div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <ng-container *ngFor="let item of payElementBreakdownList">
            <ng-container *ngIf="item['elementType'] == 2">
              <div class="d-flex justify-content-between">
                <label>{{ item["payElementName"] }}</label>
                <label>{{ item["deduction"] | currency: "₦":"symbol" }}</label>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  mat-button
                  class="btn--primary"
                  data-bs-toggle="modal"
                  data-bs-target="#editPayElement"
                >
                  Edit
                </button>
              </div>
            </ng-container>
          </ng-container>
          <div
            class="d-flex justify-content-between mt-4"
            *ngIf="itemDetails['totalDeduction'] !== 0"
          >
            <label>TOTAL DEDUCTIONS</label>
            <label>{{
              itemDetails["totalDeduction"]
                ? (itemDetails["totalDeduction"] | currency: "₦":"symbol")
                : "---"
            }}</label>
          </div>
        </div>
      </section>
      <div class="total" *ngIf="itemDetails">
        <div class="grid grid--repeat--two">
          <div class="d-flex justify-content-between align-items-center">
            <label>TOTAL (GROSS)</label>
            <label>{{
              itemDetails["totalEarning"]
                ? (itemDetails["totalEarning"] | currency: "₦":"symbol")
                : "---"
            }}</label>
          </div>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="sticky">
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <div class="bg-white colored-border border-green" *ngIf="itemDetails">
        <section>
          <div class="title-md fw-500 mb-4">Summary</div>
          <div class="grid grid--1fr--1fr grid-row-gap-20">
            <label>Total Earnings</label>
            <label>{{
              itemDetails["totalEarning"] | currency: "₦":"symbol"
            }}</label>
            <label>Total Deductions</label>
            <label>{{
              itemDetails["totalDeduction"] | currency: "₦":"symbol"
            }}</label>
          </div>
          <div class="total adjust">
            <div class="d-flex justify-content-between align-items-center">
              <label>TOTAL (GROSS)</label>
              <label>{{
                itemDetails["totalEarning"]
                  ? (itemDetails["totalEarning"] | currency: "₦":"symbol")
                  : "---"
              }}</label>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</ng-container>
<!--Modal-->
<div class="modal fade" id="addPayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Add Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <ng-container *ngIf="query_ == 'add'">
            <form
              class="pb-3"
              [formGroup]="addPayelementForm"
              (ngSubmit)="onAddPayElement()"
            >
              <div class="form-wrap w--500">
                <div class="input">
                  <mat-select
                    placeholder="Pay element"
                    class="select"
                    multiple
                    #matSelect
                    formControlName="payElementLine"
                    (selectionChange)="handlePayElementChange($event)"
                    [ngClass]="{
                      'is-invalid':
                        addPayelementForm.controls['payElementLine'].hasError(
                          'required'
                        ) &&
                        addPayelementForm.controls['payElementLine'].touched
                    }"
                  >
                    <mat-select-trigger>
                      {{ payElements ? stripedObjValue : "" }}
                      <span class="more" *ngIf="payElementItems.length > 2">
                        +{{ payElementItems.length - 2 }} other item
                      </span>
                    </mat-select-trigger>
                    <mat-option
                      #allSelected
                      (click)="toggleAllSelection(allSelected, select)"
                      [value]="0"
                      >All</mat-option
                    >
                    <mat-option
                      *ngFor="let item of payElements"
                      [value]="item"
                      (click)="toggleOne(allSelected, select)"
                    >
                      {{ item.payElementName }}
                    </mat-option>
                  </mat-select>
                </div>
                <ng-container *ngIf="payElementItems.length !== 0">
                  <div class="grid">
                    <div class="chips_wrap d-flex align-items-center">
                      <div
                        class="_chips animate__animated animate__bounceIn"
                        *ngFor="let chip of payElementItems; let i = index"
                      >
                        <span>{{ chip.payElementName }}</span>
                        <span (click)="dropItem(i, allSelected, select)"
                          ><ion-icon name="close"></ion-icon
                        ></span>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <div class="input">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button
                      class="me-4"
                      value="oneOff"
                      (change)="handleToggle($event)"
                      checked
                      id="oneOff"
                      >One Off</mat-radio-button
                    >
                    <mat-radio-button
                      value="recurrent"
                      (change)="handleToggle($event)"
                      id="recurrent"
                      >Recurrent</mat-radio-button
                    >
                  </mat-radio-group>
                </div>
                <ng-container>
                  <div
                    class="hideDate animate__animated animate__fadeIn"
                    [ngClass]="{
                      show_date: payElementDuration === 'recurrent'
                    }"
                  >
                    <div class="input mb-0 me-3">
                      <label for="">Start Date</label>
                      <input
                        type="date"
                        (change)="onDateChange()"
                        #txtDate
                        formControlName="startDate"
                      />
                    </div>
                    <div class="input mb-0">
                      <label for=""
                        >End Date
                        <span class="txt-sm italize">(Optional)</span></label
                      >
                      <input
                        type="date"
                        #_txtDate
                        (change)="onDateChange()"
                        formControlName="endDate"
                      />
                    </div>
                  </div>
                </ng-container>
                <div class="d-flex align-items-center mt-5">
                  <button
                    type="submit"
                    mat-flat-button
                    class="me-3"
                    [disabled]="!addPayelementForm.valid"
                  >
                    Add <mat-spinner *ngIf="isBusy"> </mat-spinner>
                  </button>
                  <button
                    type="button"
                    mat-stroked-button
                    data-bs-dismiss="modal"
                    #closebtn
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editPayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Edit Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <ng-container *ngIf="!payelementDetails">
            <div class="d-flex justify-content-center w-300">
              <app-loading-roller></app-loading-roller>
            </div>
          </ng-container>
          <ng-container *ngIf="payelementDetails && query_">
            <form
              class="pb-3"
              [formGroup]="updatePayElementForm"
              (ngSubmit)="onUpdate()"
            >
              <div class="form-wrap w--500">
                <ng-container
                  *ngIf="payelementDetails['payElementLine'].length"
                >
                  <div class="input">
                    <label class="mb-2">Pay Element</label>
                    <mat-select
                      placeholder="Pay element"
                      class="select"
                      multiple
                      #matSelect_
                      [compareWith]="compareFunc"
                      formControlName="payElementLine"
                      (selectionChange)="handlePayElementChange_($event)"
                    >
                      <mat-select-trigger>
                        {{ payElements ? stripedObjValue_ : "" }}
                        <span class="more" *ngIf="payElementItems_.length > 2">
                          +{{ payElementItems_.length - 2 }} other item
                        </span>
                      </mat-select-trigger>
                      <mat-option
                        #allSelected_
                        (click)="toggleAllSelection(allSelected_, select_)"
                        [value]="0"
                        >All</mat-option
                      >
                      <mat-option
                        *ngFor="let item of payElements"
                        [value]="item"
                        (click)="toggleOne(allSelected_, select_)"
                      >
                        {{ item.payElementName }}
                      </mat-option>
                    </mat-select>
                  </div>
                </ng-container>
                <ng-container *ngIf="payElementItems_.length !== 0">
                  <div class="grid">
                    <div class="chips_wrap d-flex align-items-center">
                      <div
                        class="_chips animate__animated animate__bounceIn"
                        *ngFor="let chip of payElementItems_; let i = index"
                      >
                        <span>{{ chip.payElementName }}</span>
                        <span (click)="dropItem(i, allSelected_, select_)"
                          ><ion-icon name="close"></ion-icon
                        ></span>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <div class="grid mb-3">
                  <label class="mb-2">Amount</label>
                  <div class="input mb-0">
                    <input
                      type="text"
                      (keydown)="numberCheck($event)"
                      (keyup)="commaFormat($event)"
                      placeholder="Amount"
                      formControlName="payElementAmount"
                    />
                  </div>
                </div>
                <div class="input">
                  <mat-radio-group aria-label="Select an option">
                    <mat-radio-button
                      class="me-4"
                      value="oneOff_"
                      (change)="handleToggle_($event)"
                      checked
                      id="oneOff_"
                      >One Off</mat-radio-button
                    >
                    <mat-radio-button
                      value="recurrent_"
                      (change)="handleToggle_($event)"
                      id="recurrent_"
                      >Recurrent</mat-radio-button
                    >
                  </mat-radio-group>
                </div>
                <ng-container>
                  <div
                    class="hideDate animate__animated animate__fadeIn"
                    [ngClass]="{
                      show_date: payElementDuration_ === 'recurrent_'
                    }"
                  >
                    <div class="input mb-0 me-3">
                      <label for="">Start Date</label>
                      <input
                        type="date"
                        (change)="onDateChange()"
                        #txtDate
                        formControlName="startDate"
                      />
                    </div>
                    <div class="input mb-0">
                      <label for=""
                        >End Date
                        <span class="txt-sm italize">(Optional)</span></label
                      >
                      <input
                        type="date"
                        #_txtDate
                        (change)="onDateChange()"
                        formControlName="endDate"
                      />
                    </div>
                  </div>
                </ng-container>
                <div class="d-flex align-items-center mt-5">
                  <button type="submit" mat-flat-button class="me-3">
                    Update <mat-spinner *ngIf="isBusy"> </mat-spinner>
                  </button>
                  <button
                    type="button"
                    mat-stroked-button
                    data-bs-dismiss="modal"
                    #closebtn_
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
