<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">
    {{ queryString === "add" ? "Set up a Pay Element" : "Edit Pay Element" }}
  </div>
</div>
<div class="bg-white">
  <div
    class="d-flex justify-content-center mt-5 pt-5"
    *ngIf="queryString === 'edit' && !itemDetails"
  >
    <!--Loading Roller-->
    <app-loading-roller></app-loading-roller>
  </div>
  <div
    class="form-wrap"
    [ngClass]="[queryString === 'add' ? 'w--700' : 'w--850']"
  >
    <form
      [formGroup]="createPayElmForm"
      (ngSubmit)="onSubmit()"
      *ngIf="queryString === 'add'"
    >
      <div class="grid align-items-center">
        <label>Payroll Item</label>
        <div class="input mb-0">
          <mat-select
            class="select"
            placeholder="Payroll item"
            formControlName="payrollItemId"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['payrollItemId'].hasError(
                  'required'
                ) && createPayElmForm.controls['payrollItemId'].touched
            }"
          >
            <mat-option disabled="" selected="" value=""
              >Select item</mat-option
            >
            <mat-option
              *ngFor="let item of payrollItemList"
              [value]="item.payrollItemId"
              >{{ item.payrollItemName }}</mat-option
            >
            <mat-option data-bs-toggle="modal" data-bs-target="#addPayrollItem"
              >Create New</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Pay Type</label>
        <div class="input mb-0">
          <mat-select
            class="select"
            placeholder="Pay type"
            [value]="payType"
            (selectionChange)="handlePayTypeSelect($event)"
            formControlName="payType"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['payType'].hasError('required') &&
                createPayElmForm.controls['payType'].touched
            }"
          >
            <mat-option disabled="" selected="" value=""
              >Select type</mat-option
            >
            <mat-option
              *ngFor="let type of enumkey?.payType"
              [value]="type.value"
              >{{ type.text }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Element Name</label>
        <div class="input mb-0">
          <input
            type="text"
            placeholder="Element name"
            formControlName="payElementName"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['payElementName'].hasError(
                  'required'
                ) && createPayElmForm.controls['payElementName'].touched
            }"
          />
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="payType == 1">
        <label>Element Category</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Element category"
            class="select"
            formControlName="payElementCategoryId"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['payElementCategoryId'].hasError(
                  'required'
                ) && createPayElmForm.controls['payElementCategoryId'].touched
            }"
          >
            <mat-option disabled="" selected="" value="">
              Select element category
            </mat-option>
            <mat-option
              *ngFor="let cat of payElementCats"
              [value]="cat?.payElementCategoryId"
              >{{ cat?.payElementCategoryName }}</mat-option
            >
            <mat-option
              data-bs-toggle="modal"
              data-bs-target="#addPayElementCat"
              >Create New</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Element Type</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Element type"
            class="select"
            formControlName="elementType"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['elementType'].hasError('required') &&
                createPayElmForm.controls['elementType'].touched
            }"
          >
            <mat-option disabled="" selected="" value="">
              Select element type
            </mat-option>
            <mat-option
              *ngFor="let type of enumkey?.elementType"
              [value]="type.value"
              >{{ type.text }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="payType == 2">
        <label>Earning Type</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Select earning type"
            class="select"
            formControlName="earningType"
          >
            <mat-option disabled="" selected="" value="">
              Select earning type
            </mat-option>
            <mat-option
              *ngFor="let type of enumkey?.earningType"
              [value]="type.value"
              >{{ type.text }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="payType == 2">
        <label>Amount Per Hour</label>
        <div class="input mb-0">
          <input
            type="text"
            (keydown)="numberCheck($event)"
            (keyup)="commaFormat($event)"
            placeholder="Amount per hour"
            formControlName="amountPerHour"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['amountPerHour'].hasError(
                  'required'
                ) && createPayElmForm.controls['amountPerHour'].touched
            }"
          />
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="payType == 2">
        <label
          >No of Work Hours
          <span class="italize txt-sm">(Optional)</span></label
        >
        <div class="input mb-0">
          <input
            type="text"
            placeholder=" No of work hours"
            formControlName="noOfWorkHours"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['noOfWorkHours'].hasError(
                  'required'
                ) && createPayElmForm.controls['noOfWorkHours'].touched
            }"
          />
        </div>
      </div>
      <!--Payment Mode-->
      <div class="grid align-items-center" *ngIf="payType == 1">
        <label>Payment Mode</label>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="paymentMode"
        >
          <mat-radio-button
            class="me-4"
            *ngFor="let type of enumkey?.paymentMode"
            [value]="type.value"
            (change)="handlePaymentModeToggle($event)"
          >
            {{ type.text }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <!--Variable-->
      <div
        class="grid align-items-center"
        *ngIf="predefinedPaymentMode === 2 && payType == 1"
      >
        <label>Variable</label>
        <div class="d-flex align-items-center">
          <div class="input mb-0">
            <input
              type="text"
              placeholder="Percentage"
              formControlName="payElementPercentage"
              [ngClass]="{
                'is-invalid':
                  createPayElmForm.controls['payElementPercentage'].hasError(
                    'required'
                  ) && createPayElmForm.controls['payElementPercentage'].touched
              }"
            />
          </div>
          <span class="mx-3 txt-sm">Of</span>
          <div class="input mb-0">
            <mat-select
              placeholder="Pay element"
              class="select"
              multiple
              #matSelect
              formControlName="payElementLine"
              (selectionChange)="handlePayElementChange($event)"
            >
              <mat-select-trigger>
                {{ payElementItems ? stripedObjValue : "" }}
                <span class="more" *ngIf="payElementItems.length > 2">
                  +{{ payElementItems.length - 2 }} other item
                </span>
              </mat-select-trigger>
              <mat-option
                #allSelected
                (click)="toggleAllSelection()"
                [value]="0"
                >All</mat-option
              >
              <mat-option
                #options
                *ngFor="let item of payElements"
                [value]="item"
                (click)="toggleOne()"
                >{{ item.payElementName }}</mat-option
              >
            </mat-select>
          </div>
        </div>
      </div>
      <!--Amount-->
      <div
        class="grid align-items-center"
        *ngIf="predefinedPaymentMode === 1 && payType == 1"
      >
        <label>Amount</label>
        <div class="input mb-0">
          <input
            type="text"
            (keydown)="numberCheck($event)"
            (keyup)="commaFormat($event)"
            placeholder="Amount"
            formControlName="payElementAmount"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['payElementAmount'].hasError(
                  'required'
                ) && createPayElmForm.controls['payElementAmount'].touched
            }"
          />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Payment Institution</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Payment insititution"
            class="select"
            formControlName="institutionId"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['institutionId'].hasError(
                  'required'
                ) && createPayElmForm.controls['institutionId'].touched
            }"
          >
            <mat-option disabled="" selected="" value="">
              Select payment institution
            </mat-option>
            <mat-option
              *ngFor="let item of institutionList"
              [value]="item.institutionId"
              >{{ item.institutionName }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <!--Deduct Tax -->
      <div class="grid align-items-center">
        <label>Deduct Tax</label>
        <mat-slide-toggle
          style="width: fit-content"
          (change)="handleSlideToggle($event)"
          formControlName="deductTax"
          [ngClass]="{
            'is-invalid':
              createPayElmForm.controls['deductTax'].hasError('required') &&
              createPayElmForm.controls['deductTax'].touched
          }"
        ></mat-slide-toggle>
      </div>
      <!--Tax mode-->
      <div class="grid align-items-center" *ngIf="_isChecked">
        <label>Tax Mode</label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button
            checked
            value="default"
            class="me-4"
            (change)="handleTaxModeToggle($event)"
            id="default"
            >Select from Tax list</mat-radio-button
          >
          <mat-radio-button
            value="inputValue"
            (change)="handleTaxModeToggle($event)"
            id="inputValue"
            >input Tax Value</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <!--Tax type-->
      <div
        class="grid align-items-center"
        *ngIf="_isChecked && taxMode === 'default'"
      >
        <label>Tax Type</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Tax type"
            class="select"
            formControlName="taxId"
          >
            <mat-option disabled="" selected="" value=""
              >Select tax type</mat-option
            >
            <mat-option *ngFor="let type of taxTypes" [value]="type.taxId">{{
              type.taxName
            }}</mat-option>
          </mat-select>
        </div>
      </div>
      <div
        class="grid align-items-center"
        *ngIf="_isChecked && taxMode === 'inputValue'"
      >
        <label>Tax Type</label>
        <div class="input mb-0">
          <input
            type="text"
            placeholder="Tax value"
            formControlName="taxValue"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['taxValue'].hasError('required') &&
                createPayElmForm.controls['taxValue'].touched
            }"
          />
        </div>
      </div>
      <div class="grid align-items-center pt-4">
        <span>&nbsp;</span>
        <div class="d-flex align-items-center">
          <button
            type="submit"
            mat-flat-button
            class="me-4"
            [disabled]="!createPayElmForm.valid"
          >
            Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
          </button>
          <button
            type="button"
            mat-stroked-button
            routerLink="/portal/payroll/payscale-setup"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
    <form
      [formGroup]="updatePayElementForm"
      (ngSubmit)="onUpdate()"
      *ngIf="itemDetails && queryString === 'edit'"
    >
      <div class="grid align-items-center">
        <label>Payroll Item</label>
        <div class="input mb-0">
          <mat-select
            class="select"
            placeholder="Payroll item"
            formControlName="payrollItemId"
            [ngClass]="{
              'is-invalid':
                createPayElmForm.controls['payrollItemId'].hasError(
                  'required'
                ) && createPayElmForm.controls['payrollItemId'].touched
            }"
          >
            <mat-option disabled="" selected="" value=""
              >Select item</mat-option
            >
            <mat-option
              *ngFor="let item of payrollItemList"
              [value]="item.payrollItemId"
              >{{ item.payrollItemName }}</mat-option
            >
            <mat-option data-bs-toggle="modal" data-bs-target="#addPayrollItem"
              >Create New</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Pay Type</label>
        <div class="input mb-0">
          <mat-select
            class="select"
            placeholder="Pay type"
            [value]="payType"
            (selectionChange)="handlePayTypeSelect($event)"
            formControlName="payType"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['payType'].hasError('required') &&
                updatePayElementForm.controls['payType'].touched
            }"
          >
            <mat-option disabled="" selected="" value=""
              >Select type</mat-option
            >
            <mat-option
              *ngFor="let type of enumkey?.payType"
              [value]="type.value"
              >{{ type.text }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Element Name</label>
        <div class="input mb-0">
          <input
            type="text"
            placeholder="Element name"
            formControlName="payElementName"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['payElementName'].hasError(
                  'required'
                ) && updatePayElementForm.controls['payElementName'].touched
            }"
          />
        </div>
      </div>
      <div
        class="grid align-items-center"
        *ngIf="payType == itemDetails['payType']"
      >
        <label>Element Category</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Element category"
            class="select"
            formControlName="payElementCategoryId"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['payElementCategoryId'].hasError(
                  'required'
                ) &&
                updatePayElementForm.controls['payElementCategoryId'].touched
            }"
          >
            <mat-option disabled="" selected="" value="">
              Select element category
            </mat-option>
            <mat-option
              *ngFor="let cat of payElementCats"
              [value]="cat?.payElementCategoryId"
              >{{ cat?.payElementCategoryName }}</mat-option
            >
            <mat-option
              data-bs-toggle="modal"
              data-bs-target="#addPayElementCat"
              >Create New</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Element Type</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Element type"
            class="select"
            formControlName="elementType"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['elementType'].hasError(
                  'required'
                ) && updatePayElementForm.controls['elementType'].touched
            }"
          >
            <mat-option disabled="" selected="" value="">
              Select element type
            </mat-option>
            <mat-option
              *ngFor="let type of enumkey?.elementType"
              [value]="type.value"
              >{{ type.text }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="itemDetails['payType'] == 2">
        <label>Earning Type</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Select earning type"
            class="select"
            formControlName="earningType"
          >
            <mat-option disabled="" selected="" value="">
              Select earning type
            </mat-option>
            <mat-option
              *ngFor="let type of enumkey?.earningType"
              [value]="type.value"
              >{{ type.text }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="itemDetails['payType'] == 2">
        <label>Amount Per Hour</label>
        <div class="input mb-0">
          <input
            type="text"
            placeholder="Amount per hour"
            formControlName="amountPerHour"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['amountPerHour'].hasError(
                  'required'
                ) && updatePayElementForm.controls['amountPerHour'].touched
            }"
          />
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="itemDetails['payType'] == 2">
        <label
          >No of Work Hours
          <span class="italize txt-sm">(Optional)</span></label
        >
        <div class="input mb-0">
          <input
            type="text"
            placeholder=" No of work hours"
            formControlName="noOfWorkHours"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['noOfWorkHours'].hasError(
                  'required'
                ) && updatePayElementForm.controls['noOfWorkHours'].touched
            }"
          />
        </div>
      </div>
      <!--Payment Mode-->
      <div class="grid align-items-center" *ngIf="itemDetails['payType'] == 1">
        <label>Payment Mode</label>
        <mat-radio-group
          aria-label="Select an option"
          formControlName="paymentMode"
        >
          <mat-radio-button
            class="me-4"
            *ngFor="let type of enumkey?.paymentMode"
            [value]="type.value"
            (change)="handlePaymentModeToggle($event)"
          >
            {{ type.text }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <!--Variable-->
      <div
        class="grid align-items-center"
        *ngIf="predefinedPaymentMode === 2 && itemDetails['payType'] == 1"
      >
        <label>Variable</label>
        <div class="d-flex align-items-center">
          <div class="input mb-0">
            <input
              type="text"
              placeholder="Percentage"
              formControlName="payElementPercentage"
              [ngClass]="{
                'is-invalid':
                  updatePayElementForm.controls[
                    'payElementPercentage'
                  ].hasError('required') &&
                  updatePayElementForm.controls['payElementPercentage'].touched
              }"
            />
          </div>
          <span class="mx-3 txt-sm">Of</span>
          <div class="input mb-0">
            <mat-select
              placeholder="Pay element"
              class="select"
              multiple
              #matSelect
              [compareWith]="compareFunc"
              formControlName="payElementLine"
              (selectionChange)="handlePayElementChange($event)"
            >
              <mat-select-trigger>
                {{ payElements ? stripedObjValue : "" }}
                <span class="more" *ngIf="payElementItems.length > 2">
                  +{{ payElementItems.length - 2 }} other item
                </span>
              </mat-select-trigger>
              <mat-option
                #allSelected
                (click)="toggleAllSelection()"
                [value]="0"
                >All</mat-option
              >
              <mat-option
                *ngFor="let item of payElements"
                [value]="item"
                (click)="toggleOne()"
              >
                {{ item.payElementName }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <!--Amount-->
      <div
        class="grid align-items-center"
        *ngIf="predefinedPaymentMode === 1 && itemDetails['payType'] == 1"
      >
        <label>Amount</label>
        <div class="input mb-0">
          <input
            type="text"
            (keydown)="numberCheck($event)"
            (keyup)="commaFormat($event)"
            placeholder="Amount"
            formControlName="payElementAmount"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['payElementAmount'].hasError(
                  'required'
                ) && updatePayElementForm.controls['payElementAmount'].touched
            }"
          />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Payment Institution</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Payment insititution"
            class="select"
            formControlName="institutionId"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['institutionId'].hasError(
                  'required'
                ) && updatePayElementForm.controls['institutionId'].touched
            }"
          >
            <mat-option disabled="" selected="" value="">
              Select payment institution
            </mat-option>
            <mat-option
              *ngFor="let item of institutionList"
              [value]="item.institutionId"
              >{{ item.institutionName }}</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Deduct Tax</label>
        <mat-slide-toggle
          style="width: fit-content"
          (change)="handleSlideToggle($event)"
          formControlName="deductTax"
          [ngClass]="{
            'is-invalid':
              updatePayElementForm.controls['deductTax'].hasError('required') &&
              updatePayElementForm.controls['deductTax'].touched
          }"
        ></mat-slide-toggle>
      </div>
      <!--Tax mode-->
      <div class="grid align-items-center" *ngIf="_isChecked">
        <label>Tax Mode</label>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button
            checked
            value="default"
            class="me-4"
            (change)="handleTaxModeToggle($event)"
            id="default"
            >Select from Tax list</mat-radio-button
          >
          <mat-radio-button
            value="inputValue"
            (change)="handleTaxModeToggle($event)"
            id="inputValue"
            >input Tax Value</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <!--Tax type-->
      <div
        class="grid align-items-center"
        *ngIf="_isChecked && taxMode === 'default'"
      >
        <label>Tax Type</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Tax type"
            class="select"
            formControlName="taxId"
          >
            <mat-option disabled="" selected="" value=""
              >Select tax type</mat-option
            >
            <mat-option *ngFor="let type of taxTypes" [value]="type.taxId">{{
              type.taxName
            }}</mat-option>
          </mat-select>
        </div>
      </div>
      <div
        class="grid align-items-center"
        *ngIf="_isChecked && taxMode === 'inputValue'"
      >
        <label>Tax Type</label>
        <div class="input mb-0">
          <input
            type="text"
            placeholder="Tax value"
            formControlName="taxValue"
            [ngClass]="{
              'is-invalid':
                updatePayElementForm.controls['taxValue'].hasError(
                  'required'
                ) && updatePayElementForm.controls['taxValue'].touched
            }"
          />
        </div>
      </div>
      <div class="grid align-items-center pt-4">
        <span>&nbsp;</span>
        <div class="d-flex align-items-center">
          <button
            type="submit"
            mat-flat-button
            class="me-4"
            [disabled]="!updatePayElementForm.valid"
          >
            Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
          </button>
          <button
            type="button"
            mat-stroked-button
            class="btn--danger me-4"
            data-bs-toggle="modal"
            data-bs-target="#deletePayElement"
          >
            Delete
          </button>
          <button
            type="button"
            mat-button
            class="btn-link"
            routerLink="/portal/payroll/pay-elements"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="addPayrollItem" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Create New Paroll Item</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form
            class="pb-3"
            [formGroup]="createPayrollItemForm"
            (ngSubmit)="onAddPayrollItem()"
          >
            <div class="form-wrap w--400">
              <div class="input">
                <input
                  type="text"
                  placeholder="Input paroll item"
                  formControlName="payrollItemName"
                  [ngClass]="{
                    'is-invalid':
                      createPayrollItemForm.controls[
                        'payrollItemName'
                      ].hasError('required') &&
                      createPayrollItemForm.controls['payrollItemName'].touched
                  }"
                />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button
                  type="submit"
                  mat-flat-button
                  class="me-3"
                  [disabled]="!createPayrollItemForm.valid"
                >
                  Save <mat-spinner *ngIf="isBusy_"> </mat-spinner>
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                  #closebtn
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addPayElementCat" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Create New Pay Element Category</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form
            class="pb-3"
            [formGroup]="createElementCatForm"
            (ngSubmit)="onAddPayElementCat()"
          >
            <div class="form-wrap w--400">
              <div class="input">
                <input
                  type="text"
                  placeholder="Input category name"
                  formControlName="payElementCategoryName"
                  [ngClass]="{
                    'is-invalid':
                      createElementCatForm.controls[
                        'payElementCategoryName'
                      ].hasError('required') &&
                      createElementCatForm.controls['payElementCategoryName']
                        .touched
                  }"
                />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button
                  type="submit"
                  mat-flat-button
                  class="me-3"
                  [disabled]="!createElementCatForm.valid"
                >
                  Save <mat-spinner *ngIf="isBusy_"> </mat-spinner>
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                  #closebtn_
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletePayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Delete Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div class="center">
              <p>
                Are you sure you want to delete this item? They will no longer
                be accessible.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end align-items-center">
          <button
            mat-flat-button
            class="me-3"
            data-bs-dismiss="modal"
            (click)="confirmDelete()"
          >
            Delete <mat-spinner *ngIf="isBusy_"> </mat-spinner>
          </button>
          <button mat-stroked-button data-bs-dismiss="modal" #closebtn__>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
