<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">View Pay Scale</div>
</div>
<div class="bg-white">
  <ng-container *ngIf="!itemDetails">
    <app-loading-roller></app-loading-roller>
  </ng-container>
  <div class="w--500" *ngIf="itemDetails">
    <div class="grid grid--repeat--two list-items">
      <label>scale name</label>
      <label
        ><span>{{ itemDetails["payScaleName"] }}</span></label
      >
      <label>pay elements</label>
      <label
        ><span *ngFor="let item of itemDetails['payScaleElements']" class="me-1"
          >{{ item["payElement"].payElementName }},</span
        ></label
      >
      <label>pay frequency</label>
      <label
        ><span>{{ frequencyValue(itemDetails["frequency"]) }}</span></label
      >
    </div>
  </div>
  <div class="title-sm px-5">Employees on Pay Scale</div>
  <div
    class="d-flex justify-content-center align-items-center my-3 empty-state"
    *ngIf="!_loading && (!employeeList || employeeList.length === 0)"
  >
    <span class="txt-grey txt-md"
      >No record found! Please create a record.</span
    >
  </div>
  <ng-container *ngIf="_loading">
    <app-loading-roller></app-loading-roller>
  </ng-container>
  <!--Table Content-->
  <div
    class="overflow--wrap _visible"
    [ngClass]="{ hide: employeeList.length == 0 }"
  >
    <div class="table-wrapper tbl-wrap">
      <ng-container *ngIf="employeeList.length">
        <!--Table Toolbar Header-->
        <div class="toolbar mb-5 adjust-wrap">
          <div
            class="d-flex align-items-center justify-content-start adjust-flex"
          >
            <div
              class="d-flex align-items-center mr-1"
              style="width: fit-content"
            ></div>
            <div class="search-input mr-1">
              <span><mat-icon>search</mat-icon></span>
              <input
                type="text"
                placeholder="Search"
                (keyup)="applyFilter($event)"
                #input_
              />
            </div>
            <!-- Employee  Filter-->
            <div>
              <button
                mat-stroked-button
                class="mat-stroked-secondary mr-1"
                data-bs-toggle="modal"
                data-bs-target="#employeeFilterBy"
              >
                Filter <ion-icon name="options" class="mx-3"></ion-icon>
              </button>
            </div>
            <!-- Sort by -->
            <div class="d-flex align-items-center mr-1">
              <label class="me-3">Sort by</label>
              <button
                mat-stroked-button
                class="mat-stroked-secondary"
                [matMenuTriggerFor]="sortby"
              >
                Most recent
                <mat-icon class="ms-2">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #sortby="matMenu">
                <button mat-menu-item (click)="getFilterTerm('asc')">
                  <span>Ascending</span>
                </button>
                <button mat-menu-item (click)="getFilterTerm('desc')">
                  <span>Descending</span>
                </button>
              </mat-menu>
            </div>
            <div>
              <button
                mat-mini-fab
                class="mx-2"
                color="primary"
                *ngIf="show_ref"
                matTooltip="Refresh List"
                (click)="getPayScaleEmployees()"
              >
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <!--Table Layout-->
        <table
          mat-table
          [dataSource]="dataSource"
          class="table custom-table w--100"
          style="width: 100%"
        >
          <ng-container
            *ngFor="
              let disCol of displayedColumns;
              let colIndex = index;
              let last = last
            "
            [matColumnDef]="disCol"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ disCol }}
            </th>
            <!--Table  Row Content-->
            <ng-container *ngIf="colIndex === 0">
              <td *matCellDef="let element" class="ps-5">
                <span
                  >{{ element["employee"].firstName }}
                  {{ element["employee"].lastName }}</span
                >
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'employee Id'">
              <td mat-cell *matCellDef="let element">
                <span>{{
                  element["employee"].employeeNo
                    ? element["employee"].employeeNo
                    : "----"
                }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'employment Date'">
              <td mat-cell *matCellDef="let element">
                <span>{{
                  element["employee"].employementDate
                    ? (element["employee"].employementDate | date: "mediumDate")
                    : "----"
                }}</span>
              </td>
            </ng-container>
            <ng-container *ngIf="disCol == 'department'">
              <td mat-cell *matCellDef="let element">
                <span>{{
                  element["employee"].department.departmentName
                    ? element["employee"].department.departmentName
                    : "----"
                }}</span>
              </td>
            </ng-container>
            <td mat-cell *matCellDef="let element">
              <span> {{ element[concatColumnString(disCol)] }}</span>
            </td>
          </ng-container>
          <!--Mat-table  configurations-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the search item: "{{ input_.value }}"
            </td>
          </tr>
        </table>
      </ng-container>
      <mat-paginator
        showFirstLastButton
        [pageIndex]="currentPage"
        [pageSize]="pageSize"
        (page)="pageChanged($event)"
      ></mat-paginator>
    </div>
  </div>
  <div
    class="d-flex justify-content-start align-items-center pb-5 px-5"
    *ngIf="itemDetails"
  >
    <button
      mat-flat-button
      [routerLink]="['/portal/payroll/pay-scale-setup']"
      [queryParams]="{
        query: 'edit',
        id: itemDetails['payScaleId']
      }"
    >
      Edit
    </button>
    <button
      mat-stroked-button
      class="btn--danger mx-3"
      data-bs-toggle="modal"
      data-bs-target="#deletePayScale"
    >
      Delete
    </button>
    <a routerLink="/portal/payroll/pay-scale" mat-button class="btn-link"
      >Cancel</a
    >
  </div>
</div>
<div class="modal fade" id="employeeFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3" [formGroup]="filterForm" (ngSubmit)="onFilter()">
            <div class="form-wrap w--400">
              <div class="input">
                <label>ID</label>
                <input
                  type="text"
                  placeholder="Enter id"
                  formControlName="employeeId"
                  [ngClass]="{
                    'is-invalid':
                      filterForm.controls['employeeId'].hasError('required') &&
                      filterForm.controls['employeeId'].touched
                  }"
                />
              </div>
              <div class="input">
                <label>Department</label>
                <mat-select
                  placeholder="Department"
                  class="select"
                  formControlName="departmentId"
                  [ngClass]="{
                    'is-invalid':
                      filterForm.controls['departmentId'].hasError(
                        'required'
                      ) && filterForm.controls['departmentId'].touched
                  }"
                >
                  <mat-option disabled="" selected="" value="">
                    Select category
                  </mat-option>
                  <mat-option
                    *ngFor="let item of departmentList"
                    [value]="item.departmentId"
                    >{{ item.departmentName }}</mat-option
                  >
                </mat-select>
              </div>
              <div class="input">
                <label>Employement Date</label>
                <input type="date" formControlName="employementDate" />
              </div>
              <p *ngIf="noRecord" class="txt-grey txt-md">No record found!</p>
              <div class="d-flex align-items-center mt-5">
                <button
                  type="submit"
                  mat-flat-button
                  class="me-3"
                  [disabled]="!filterForm.valid"
                >
                  Apply <mat-spinner *ngIf="isBusy_"> </mat-spinner>
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                  #closebtn_
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletePayScale" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Delete Pay Scale</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div class="center">
              <p>
                Are you sure you want to delete this item? They will no longer
                be accessible.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end align-items-center">
          <button mat-flat-button class="me-3" (click)="confirmDelete()">
            Delete
          </button>
          <button mat-stroked-button data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
