<div class="grid grid--repeat--four">
  <div class="card">
    <div class="d-flex align-items-center">
      <div class="icon blue me-3">
        <img src="assets/img/credit-card-lg.svg" alt="credit-card" />
      </div>
      <label><span>Payroll History</span> N20.345M</label>
    </div>
  </div>
  <div class="card">
    <div class="d-flex align-items-center">
      <div class="icon green me-3">
        <img src="assets/img/user-check.svg" alt="user-check" />
      </div>
      <label><span>Employess</span> 3,245</label>
    </div>
  </div>
  <div class="card">
    <div class="d-flex align-items-center">
      <div class="icon light-blue me-3">
        <img src="assets/img/trending-up.svg" alt="trending-up" />
      </div>
      <label><span>Earnings</span> N10.145M</label>
    </div>
  </div>
  <div class="card">
    <div class="d-flex align-items-center">
      <div class="icon yellow me-3">
        <img src="assets/img/trending-down.svg" alt="trendind-down" />
      </div>
      <label><span>Deductions</span> 5.045M</label>
    </div>
  </div>
</div>
