<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">Pay Elements</div>
  <button
    mat-flat-button
    [routerLink]="['/portal/payroll/pay-element-setup']"
    [queryParams]="{ query: 'add' }"
  >
    <ion-icon name="add"></ion-icon>Add Pay Element
  </button>
</div>
<div
  class="d-flex justify-content-center align-items-center my-3 empty-state"
  *ngIf="emptyState"
>
  <span class="txt-grey txt-md">No record found! Please create a record.</span>
</div>
<ng-container *ngIf="payElementList.length === 0 && !emptyState">
  <app-loading-roller></app-loading-roller>
</ng-container>
<div
  class="overflow--wrap _visible"
  [ngClass]="{ hide: payElementList.length == 0 }"
>
  <div class="table-wrapper tbl-wrap">
    <ng-container *ngIf="payElementList.length !== 0">
      <div class="toolbar mb-5 adjust-wrap">
        <div
          class="d-flex align-items-center justify-content-start adjust-flex"
        >
          <div
            class="d-flex align-items-center mr-1"
            style="width: fit-content"
          >
            <!-- Master Checkbox-->
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <span>Option One</span>
              </button>
              <button mat-menu-item>
                <span>Option Two</span>
              </button>
            </mat-menu>
          </div>
          <div class="search-input mr-1">
            <span><mat-icon>search</mat-icon></span>
            <input
              type="text"
              placeholder="Search"
              (keyup)="applyFilter($event)"
              #input
            />
          </div>
          <!-- PayElement  Filter-->
          <button
            mat-stroked-button
            class="mat-stroked-secondary mr-1"
            data-bs-toggle="modal"
            data-bs-target="#payElementFilterBy"
          >
            Filter <ion-icon name="options" class="mx-3"></ion-icon>
          </button>
          <!-- Sort by -->
          <div class="d-flex align-items-center mr-1">
            <label class="me-3">Sort by</label>
            <button
              mat-stroked-button
              class="mat-stroked-secondary"
              [matMenuTriggerFor]="sortby"
            >
              Most recent <mat-icon class="ms-2">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #sortby="matMenu">
              <button mat-menu-item>
                <span>Option One</span>
              </button>
              <button mat-menu-item>
                <span>Option Two</span>
              </button>
            </mat-menu>
          </div>
          <!-- Export as-->
          <div>
            <button mat-stroked-button class="mat-stroked-secondary mr-1">
              Export as
            </button>
          </div>
          <!-- Print-->
          <div>
            <button mat-button class="print ms-1">
              <mat-icon class="me-2">print</mat-icon> Print
            </button>
          </div>
          <div>
            <button
              mat-mini-fab
              class="mx-2"
              color="primary"
              *ngIf="show_ref"
              matTooltip="Refresh List"
              (click)="getPayElements()"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <table
        mat-table
        [dataSource]="dataSource"
        class="table custom-table w--100"
        style="width: 100%"
      >
        <ng-container
          *ngFor="
            let disCol of displayedColumns;
            let colIndex = index;
            let last = last
          "
          [matColumnDef]="disCol"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ disCol }}
          </th>
          <ng-container *ngIf="colIndex === 0">
            <td *matCellDef="let element">
              <mat-checkbox
                [value]="element"
                (click)="$event.stopPropagation()"
                (change)="
                  $event ? selection.toggle(element) : null;
                  toggleCheck($event, i)
                "
                [checked]="selection.isSelected(element)"
              >
                <span>{{ element["payElementName"] }}</span>
              </mat-checkbox>
            </td>
          </ng-container>
          <!--Action Column-->
          <ng-container *ngIf="last">
            <td mat-cell *matCellDef="let element">
              <div class="dropdown">
                <span class="dropdown-toggle" [matMenuTriggerFor]="menu">
                  <ion-icon name="ellipsis-horizontal"></ion-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button
                    type="button"
                    mat-menu-item
                    data-bs-toggle="modal"
                    data-bs-target="#viewPayElement"
                    (click)="getItemDetails(element['payElementId'])"
                  >
                    View
                  </button>
                  <button
                    mat-menu-item
                    [routerLink]="['/portal/payroll/pay-element-setup']"
                    [queryParams]="{
                      query: 'edit',
                      id: element['payElementId']
                    }"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    mat-menu-item
                    class="txt-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deletePayElement"
                    (click)="getItemDetails(element['payElementId'])"
                  >
                    Delete
                  </button>
                </mat-menu>
              </div>
            </td>
          </ng-container>

          <!--Table  Row Content-->
          <ng-container *ngIf="disCol == 'pay Type'">
            <td mat-cell *matCellDef="let element">
              <span>{{
                element["payType"] == 1 ? "Monthly" : "Time-Shift"
              }}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="disCol == 'element Name'">
            <td mat-cell *matCellDef="let element">
              <span>{{ element["payElementName"] }}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="disCol == 'element Category'">
            <td mat-cell *matCellDef="let element">
              <span>{{
                element["payElementCategory"].payElementCategoryName
              }}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="disCol == 'element Type'">
            <td mat-cell *matCellDef="let element">
              <span>{{
                element["elementType"] == 1 ? "Earnings" : "Deductions"
              }}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="disCol == 'institution'">
            <td mat-cell *matCellDef="let element">
              <span>{{
                element[concatColumnString(disCol)].institutionName
              }}</span>
            </td>
          </ng-container>
          <ng-container *ngIf="disCol == 'amount'">
            <td mat-cell *matCellDef="let element">
              <span>{{
                element["payElementAmount"] | currency: "₦":"symbol"
              }}</span>
            </td>
          </ng-container>
          <td mat-cell *matCellDef="let element">
            <span class="tag me-0">
              {{ element[concatColumnString(disCol)] }}</span
            >
          </td>
        </ng-container>
        <!--Mat-table  configurations-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{
            'bg-wrap': selection.isSelected(row)
          }"
        ></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the search item: "{{ input.value }}"
          </td>
        </tr>
      </table>
    </ng-container>
    <mat-paginator showFirstLastButtons [pageSize]="pageSize"></mat-paginator>
  </div>
</div>
<!--Modal components-->
<div class="modal fade" id="payElementFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3" [formGroup]="filterForm" (ngSubmit)="onFilter()">
            <div class="form-wrap w--400 scroll">
              <div class="input">
                <label>Pay Type</label>
                <mat-select
                  placeholder="Select pay type"
                  class="select"
                  formControlName="payType"
                >
                  <mat-option disabled="" selected="" value="">
                    Select pay type
                  </mat-option>
                  <mat-option
                    *ngFor="let type of enumkey?.payType"
                    [value]="type.value"
                    >{{ type.text }}</mat-option
                  >
                </mat-select>
              </div>
              <div class="input">
                <label>Element Name</label>
                <input
                  type="text"
                  placeholder="Element name"
                  formControlName="payElementName"
                />
              </div>
              <div class="input">
                <label>Element Category</label>
                <mat-select
                  placeholder="Select category"
                  class="select"
                  formControlName="payElementCatId"
                  [ngClass]="{
                    'is-invalid':
                      filterForm.controls['payElementCatId'].hasError(
                        'required'
                      ) && filterForm.controls['payElementCatId'].touched
                  }"
                >
                  <mat-option disabled="" selected="" value="">
                    Select category
                  </mat-option>
                  <mat-option
                    *ngFor="let item of payElementCats"
                    [value]="item.payElementCategoryId"
                    >{{ item.payElementCategoryName }}</mat-option
                  >
                </mat-select>
              </div>
              <div class="input">
                <label>Element Type</label>
                <mat-select
                  placeholder="Select element type"
                  class="select"
                  formControlName="elementType"
                >
                  <mat-option disabled="" selected="" value="">
                    Select element type
                  </mat-option>
                  <mat-option
                    *ngFor="let type of enumkey?.elementType"
                    [value]="type.value"
                    >{{ type.text }}</mat-option
                  >
                </mat-select>
              </div>
              <div class="input">
                <label>Amount</label>
                <input
                  type="text"
                  placeholder="Amount"
                  formControlName="payElementAmount"
                />
              </div>
              <div class="input">
                <label>Institution</label>
                <mat-select
                  placeholder="Select institution"
                  class="select"
                  formControlName="institutionId"
                  [ngClass]="{
                    'is-invalid':
                      filterForm.controls['institutionId'].hasError(
                        'required'
                      ) && filterForm.controls['institutionId'].touched
                  }"
                >
                  <mat-option disabled="" selected="" value="">
                    Select institution
                  </mat-option>
                  <mat-option
                    *ngFor="let item of institutionList"
                    [value]="item.institutionId"
                    >{{ item.institutionName }}</mat-option
                  >
                </mat-select>
              </div>
              <p *ngIf="noRecord" class="txt-grey txt-md">No record found!</p>
              <div class="d-flex align-items-center mt-5">
                <button
                  type="submit"
                  mat-flat-button
                  class="me-3"
                  [disabled]="!filterForm.valid"
                >
                  Apply <mat-spinner *ngIf="isBusy"> </mat-spinner>
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                  #closebtn_
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="viewPayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">View Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div *ngIf="!itemDetails">
              <app-loading-roller></app-loading-roller>
            </div>
            <div class="bg-white w--500 scroll m-3" *ngIf="itemDetails">
              <div class="grid grid--repeat--two list-items">
                <label>Name</label>
                <label
                  ><span>{{ itemDetails.payElementName }}</span></label
                >
                <label>Pay Type </label>
                <label
                  ><span>{{
                    itemDetails["payType"] == 1 ? "Monthly" : "Time-Shift"
                  }}</span></label
                >
                <label>Element Name </label>
                <label
                  ><span>{{ itemDetails.payElementName }}</span></label
                >
                <label>Element Type </label>
                <label
                  ><span>{{
                    itemDetails["elementType"] == 1 ? "Earnings" : "Deductions"
                  }}</span></label
                >
                <label>Element Category </label>
                <label
                  ><span>{{
                    itemDetails.payElementCategory.payElementCategoryName
                  }}</span></label
                >
                <label>Amount </label>
                <label
                  ><span>{{
                    itemDetails.payElementAmount | currency: "₦":"symbol"
                  }}</span></label
                >
                <label>Payment institution </label>
                <label
                  ><span>{{
                    itemDetails.institution.institutionName
                  }}</span></label
                >
                <label>Variable </label>
                <label
                  ><span>{{ itemDetails.paymentMode }}</span></label
                >
                <label>Ratio </label>
                <label
                  ><span>{{ itemDetails.payElementPercentage }}%</span></label
                >
                <label>Pay Element </label>
                <label
                  ><span>{{ itemDetails.payElementLine.length }}</span></label
                >
                <label>Taxable </label>
                <label
                  ><span>{{
                    itemDetails.tax ? "Enabled" : "False"
                  }}</span></label
                >
              </div>
              <div class="d-flex align-items-center pt-5 mt-auto">
                <button
                  mat-flat-button
                  data-bs-dismiss="modal"
                  [routerLink]="['/portal/payroll/pay-element-setup']"
                  [queryParams]="{
                    query: 'edit',
                    id: itemDetails.payElementId
                  }"
                >
                  Edit
                </button>
                <button
                  mat-stroked-button
                  class="btn--danger mx-3"
                  data-bs-toggle="modal"
                  data-bs-target="#deletePayElement"
                >
                  Delete
                </button>
                <button mat-button data-bs-dismiss="modal" class="btn-link">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletePayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Delete Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <div class="pb-3">
            <div class="center">
              <p>
                Are you sure you want to delete this item? They will no longer
                be accessible.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-end align-items-center">
          <button mat-flat-button class="me-3" (click)="confirmDelete()">
            Delete <mat-spinner *ngIf="isBusy"> </mat-spinner>
          </button>
          <button mat-stroked-button data-bs-dismiss="modal" #closebtn>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
