.form-wrap {
  padding: 3em;
  &.w--700 {
    width: 700px;
  }
  &.w--850 {
    width: 850px;
  }
  form {
    .grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-bottom: 1.5em;
    }
    .mat-flat-button,
    .mat-stroked-button {
      width: -webkit-fill-available;
    }
  }
  .chips_wrap {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 320px) and (max-width: 991px) {
    &.w--700,
    &.w--850 {
      width: auto;
    }
    padding: 1em;
    form .grid {
      grid-template-columns: auto;
      .d-flex {
        flex-direction: column;
        button {
          &.me-4 {
            margin-right: 0 !important;
            margin-bottom: 1em;
          }
        }
      }
    }
  }
}
