<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">
    {{ queryString === "add" ? "Pay Scale Set Up" : "Edit Pay Scale" }}
  </div>
</div>
<div class="bg-white">
  <div class="form-wrap w--700">
    <form>
      <div class="grid align-items-center">
        <label>Scale Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="Scale name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Pay Elements</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Pay element"
            class="select"
            multiple
            #matSelect
            (selectionChange)="handlePayElementChange($event)"
          >
            <mat-select-trigger>
              {{ _selectedPayElements ? _selectedPayElements.slice(0, 2) : "" }}
              <span class="more" *ngIf="_selectedPayElements.length > 2">
                +{{ _selectedPayElements.slice(0, 2).length - 1 }} other item
              </span>
            </mat-select-trigger>
            <mat-option #allSelected (click)="toggleAllSelection()" [value]="0"
              >All</mat-option
            >
            <mat-option
              #options
              *ngFor="let option of options"
              [value]="option.value"
              (click)="toggleOne()"
            >
              {{ option.label }}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <ng-container *ngIf="_selectedPayElements.length !== 0">
        <div class="grid">
          <span>&nbsp;</span>
          <div class="chips_wrap d-flex align-items-center">
            <div
              class="_chips animate__animated animate__bounceIn"
              *ngFor="let chip of _selectedPayElements; let i = index"
            >
              <span>{{ chip }}</span>
              <span (click)="dropItem(i)"
                ><ion-icon name="close"></ion-icon
              ></span>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="grid align-items-center">
        <label>Pay Frequency</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Pay frequency"
            class="select"
            (selectionChange)="handlePayFrequencyChange($event)"
            required
          >
            <mat-option disabled="" selected="" value="">
              Select pay frequencies
            </mat-option>
            <mat-option *ngFor="let item of _payFrequencies" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="bg-white">
  <div class="title-sm px-5">Add Employees</div>

  <div
    class="d-flex justify-content-center align-items-center my-3 empty-state"
    *ngIf="emptyState"
  >
    <span class="txt-grey txt-md">You have not created any payscale yet.</span>
  </div>
  <ng-container *ngIf="employeeList.length === 0 && !emptyState">
    <app-loading-roller></app-loading-roller>
  </ng-container>
  <div
    class="overflow--wrap _visible"
    [ngClass]="{ hide: employeeList.length == 0 }"
  >
    <div class="table-wrapper tbl-wrap">
      <ng-container *ngIf="dataSource.data.length">
        <div class="toolbar mb-5 adjust-wrap">
          <div
            class="d-flex align-items-center justify-content-start adjust-flex"
          >
            <div
              class="d-flex align-items-center mr-1"
              style="width: fit-content"
            >
              <!-- Master Checkbox-->
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span>Option One</span>
                </button>
                <button mat-menu-item>
                  <span>Option Two</span>
                </button>
              </mat-menu>
            </div>
            <div class="search-input mr-1">
              <span><mat-icon>search</mat-icon></span>
              <input
                type="text"
                placeholder="Search"
                (keyup)="applyFilter($event)"
                #input
              />
            </div>
            <!-- Institute Mgmt Filter-->
            <div>
              <button
                mat-stroked-button
                class="mat-stroked-secondary mr-1"
                data-bs-toggle="modal"
                data-bs-target="#employeeFilterBy"
              >
                Filter <ion-icon name="options" class="mx-3"></ion-icon>
              </button>
            </div>
            <!-- Sort by -->
            <div class="d-flex align-items-center mr-1">
              <label class="me-3">Sort by</label>
              <button
                mat-stroked-button
                class="mat-stroked-secondary"
                [matMenuTriggerFor]="sortby"
              >
                Most recent
                <mat-icon class="ms-2">keyboard_arrow_down</mat-icon>
              </button>
              <mat-menu #sortby="matMenu">
                <button mat-menu-item>
                  <span>Option One</span>
                </button>
                <button mat-menu-item>
                  <span>Option Two</span>
                </button>
              </mat-menu>
            </div>
            <!--  Bulk upload-->
            <div>
              <button
                mat-stroked-button
                class="mat-stroked-primary mat-stroked-secondary"
                data-bs-toggle="modal"
                data-bs-target="#bulkUpload"
              >
                <mat-icon class="me-3">file_upload</mat-icon>
                Bulk Upload
              </button>
            </div>
          </div>
        </div>
        <table
          mat-table
          [dataSource]="dataSource"
          class="table custom-table w--100"
          style="width: 100%"
        >
          <ng-container
            *ngFor="
              let disCol of displayedColumns;
              let colIndex = index;
              let last = last
            "
            [matColumnDef]="disCol"
          >
            <th mat-header-cell *matHeaderCellDef>
              {{ disCol }}
            </th>
            <!--Table  Row Content-->
            <ng-container *ngIf="colIndex === 0">
              <td *matCellDef="let element">
                <mat-checkbox
                  [value]="element"
                  (click)="$event.stopPropagation()"
                  (change)="
                    $event ? selection.toggle(element) : null;
                    toggleCheck($event, i)
                  "
                  [checked]="selection.isSelected(element)"
                >
                  <span
                    >{{ element["firstName"] }} {{ element["lastName"] }}</span
                  >
                </mat-checkbox>
              </td>
            </ng-container>
            <!-- <ng-container *ngIf="disCol == 'created On'">
              <td mat-cell *matCellDef="let element">
                <span>{{ element["createdOn"] | date: "mediumDate" }}</span>
              </td>
            </ng-container> -->
            <ng-container *ngIf="disCol == 'department'">
              <td mat-cell *matCellDef="let element">
                <span>{{
                  element[concatColumnString(disCol)].departmentName
                }}</span>
              </td>
            </ng-container>
            <td mat-cell *matCellDef="let element">
              <span> {{ element[concatColumnString(disCol)] }}</span>
            </td>
          </ng-container>
          <!--Mat-table  configurations-->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{
              'bg-wrap': selection.isSelected(row)
            }"
          ></tr>
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the search item: "{{ input.value }}"
            </td>
          </tr>
        </table>
      </ng-container>
      <mat-paginator showFirstLastButtons [pageSize]="pageSize"></mat-paginator>
    </div>
    <div class="d-flex justify-content-center align-items-center pb-5">
      <button mat-flat-button class="me-3">Save</button>
      <button mat-stroked-button>Cancel</button>
    </div>
  </div>
</div>

<div class="modal fade" id="employeeFilterBy" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Filter By</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap w--400">
              <div class="input">
                <label>ID</label>
                <input type="text" placeholder="Enter id" />
              </div>
              <div class="input">
                <label>Department</label>
                <mat-select placeholder="Department" class="select" required>
                  <mat-option disabled="" selected="" value="">
                    Select category
                  </mat-option>
                </mat-select>
              </div>
              <div class="input">
                <label>Employement Date</label>
                <input type="date" required />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">
                  Apply
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
