.bg-white {
  padding: 2em;
  min-height: 400px;
  .form-wrap {
    padding: 3em;
    position: relative;
    z-index: 1;
    &.w--700 {
      width: 700px;
    }
    &.w--850 {
      width: 850px;
    }
    form {
      .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 1.5em;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 991px) {
      &.w--700,
      &.w--850 {
        width: auto;
      }
      padding: 1em;
      form .grid {
        grid-template-columns: auto;
        .d-flex {
          flex-direction: column;
          button {
            &.me-4 {
              margin-right: 0 !important;
              margin-bottom: 1em;
            }
          }
        }
      }
    }
  }
  .empty-state {
    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      min-height: 350px;
      label {
        font-style: 18px;
        font-weight: 500;
        span {
          font-style: 14px;
          display: block;
          font-weight: 300;
        }
      }
    }
  }
}
