<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">Payroll Settings</div>
</div>
<div class="bg-white">
  <mat-tab-group animationDuration="0.5ms">
    <mat-tab label="Tax">
      <div class="form-wrap w--700">
        <form [formGroup]="saveTaxForm" (ngSubmit)="onSaveTax()">
          <div class="grid align-items-center">
            <label>Enable Tax</label>
            <mat-slide-toggle
              style="width: fit-content"
              formControlName="isTaxEnable"
            ></mat-slide-toggle>
          </div>
          <div class="grid align-items-center">
            <label>Tax ID</label>
            <div class="input mb-0">
              <input
                type="text"
                placeholder="Enter tax id"
                formControlName="taxId"
              />
            </div>
          </div>
          <div class="grid align-items-center">
            <label>Country</label>
            <div class="input mb-0">
              <mat-select
                placeholder="Select country"
                class="select"
                formControlName="countryId"
              >
                <mat-option disabled="" selected="" value="">
                  Select country
                </mat-option>
                <mat-option
                  *ngFor="let item of countryList"
                  [value]="item.countryId"
                >
                  {{ item.countryName }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="grid align-items-center">
            <label>State</label>
            <div class="input mb-0">
              <mat-select
                placeholder="Select state"
                class="select"
                formControlName="stateId"
              >
                <mat-option disabled selected="" value="">
                  Select state
                </mat-option>
                <mat-option
                  *ngFor="let item of stateList"
                  [value]="item.stateId"
                >
                  {{ item.stateName }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="grid align-items-start">
            <div class="d-flex align-items-center" (click)="addLocation()">
              <button type="button" mat-icon-button class="me-1">
                <mat-icon class="btn--primary">add_circle</mat-icon>
              </button>
              <label class="cursor">Add Location</label>
            </div>
            <div class="d-flex flex-column">
              <div
                class="input mb-3"
                formArrayName="location"
                *ngFor="let t of locationValues.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="d-flex align-items-center">
                    <input
                      type="text"
                      formControlName="name"
                      id="{{ 'name' + i }}"
                      placeholder="Enter location"
                    />
                    <button
                      mat-icon-button
                      class="abs-pos"
                      (click)="removeLocation(i)"
                    >
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="grid align-items-center pt-4">
            <span>&nbsp;</span>
            <div class="d-flex justify-content-start">
              <button
                type="submit"
                mat-flat-button
                class="me-4"
                [disabled]="!saveTaxForm.valid"
              >
                Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Pension">
      <ng-container *ngIf="screen == 1">
        <div class="form-wrap w--700">
          <form [formGroup]="savePensionForm" (ngSubmit)="onSavePension()">
            <div class="grid align-items-center pb-4">
              <label>Enable Pension</label>
              <mat-slide-toggle
                style="width: fit-content"
                (change)="handleSlideToggle($event)"
                formControlName="isPensionEnable"
              ></mat-slide-toggle>
            </div>
            <div class="grid align-items-center">
              <label>Pension Number</label>
              <div class="input mb-0">
                <input
                  type="text"
                  placeholder="Enter pension number"
                  formControlName="pensionNumber"
                />
              </div>
            </div>
            <div class="grid align-items-center pt-4">
              <span>&nbsp;</span>
              <div class="d-flex justify-content-start">
                <button
                  type="submit"
                  mat-flat-button
                  [disabled]="!savePensionForm.valid"
                >
                  Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
                </button>
              </div>
            </div>
          </form>
        </div>
      </ng-container>
      <ng-container *ngIf="screen == 2">
        <app-table [_data]="data" _identifier="SETTINGS"></app-table>
      </ng-container>
    </mat-tab>
    <mat-tab label="NHF">
      <div class="form-wrap w--700">
        <form [formGroup]="saveNHFForm" (ngSubmit)="onSaveNHF()">
          <div class="grid align-items-center pb-4">
            <label>Enable NHF</label>
            <mat-slide-toggle
              style="width: fit-content"
              (change)="handleSlideToggle($event)"
              formControlName="isNHFEnable"
            ></mat-slide-toggle>
          </div>
          <div class="grid align-items-center">
            <label>Company’s NHF Number</label>
            <div class="input mb-0">
              <input
                type="text"
                placeholder="Enter NHF number"
                formControlName="nhfNumber"
              />
            </div>
          </div>
          <div class="grid align-items-center pt-4">
            <span>&nbsp;</span>
            <div class="d-flex justify-content-start">
              <button
                type="submit"
                mat-flat-button
                [disabled]="!saveNHFForm.valid"
              >
                Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Health Insurance">
      <div class="empty-state">
        <div class="center">
          <div class="d-flex justify-content-center">
            <img src="assets/img/coming-soon.svg" alt="coming-soon" />
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Tax Setup">
      <div class="form-wrap w--700">
        <form [formGroup]="createTaxForm" (ngSubmit)="onAddTax()">
          <div class="grid align-items-center">
            <label>Tax Name</label>
            <div class="input mb-0">
              <input
                type="text"
                placeholder="Enter tax name"
                formControlName="taxName"
                [ngClass]="{
                  'is-invalid':
                    createTaxForm.controls['taxName'].hasError('required') &&
                    createTaxForm.controls['taxName'].touched
                }"
              />
            </div>
          </div>
          <div class="grid align-items-center">
            <label> Tax Percentage (%)</label>
            <div class="input mb-0">
              <input
                type="number"
                placeholder="Enter tax percentage"
                formControlName="taxPercentage"
                [ngClass]="{
                  'is-invalid':
                    createTaxForm.controls['taxPercentage'].hasError(
                      'required'
                    ) && createTaxForm.controls['taxPercentage'].touched
                }"
              />
            </div>
          </div>
          <div class="grid align-items-center pt-4">
            <span>&nbsp;</span>
            <div class="d-flex justify-content-start">
              <button
                type="submit"
                mat-flat-button
                [disabled]="!createTaxForm.valid"
              >
                Save <mat-spinner *ngIf="isBusy"> </mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
