<ng-container>
  <div class="header d-flex align-items-center justify-content-between mb-4">
    <div class="title">
      Payroll Details -
      <span *ngIf="itemDetails">{{ itemDetails["payScheduleName"] }}</span>
    </div>
  </div>
  <div class="d-flex align-items-center mb-4">
    <a href="javascript:window.history.go(-1)" mat-button>
      <span class="icon-circ me-3"
        ><mat-icon mat-icon-button>arrow_back</mat-icon></span
      >
      Back
    </a>
  </div>
  <div class="bg-white">
    <div class="title-sm mb-5">Overview</div>
    <div class="overview">
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <div class="grid grid--repeat--five w--full" *ngIf="itemDetails">
        <div class="d-flex">
          <label style="font-size: 14px"
            ><span>Payroll Period</span
            >{{ itemDetails["startDate"] | date: "mediumDate" }} -
            {{ itemDetails["endDate"] | date: "mediumDate" }}</label
          >
        </div>
        <label
          ><span>Payroll Schedule</span
          >{{
            itemDetails["payScheduleName"]
              ? itemDetails["payScheduleName"]
              : "---"
          }}</label
        >
        <label
          ><span>Payroll Channel</span
          >{{ payChannel(itemDetails["paymentChannel"]) }}</label
        >
        <label
          ><span>Bank Balance</span
          >{{
            itemDetails["bankBalance"] == 0
              ? (0 | currency: "₦":"symbol")
              : (itemDetails["bankBalance"] | currency: "₦":"symbol")
          }}</label
        >
        <label
          ><span>Status</span
          ><span
            class="tag"
            [ngClass]="{
              'status-approved':
                statusValue(itemDetails['payrollStatus']) == 'Approved',
              'status-pending':
                statusValue(itemDetails['payrollStatus']) == 'Pending' ||
                statusValue(itemDetails['payrollStatus']) == 'Rejected'
            }"
            >{{ statusValue(itemDetails["payrollStatus"]) }}</span
          ></label
        >
        <label
          ><span>Last pay date</span
          >{{
            itemDetails["lastPayDate"]
              ? (itemDetails["lastPayDate"] | date: "mediumDate")
              : "---"
          }}</label
        >
        <label
          ><span>No of Employees</span
          >{{ itemDetails["totalEmployees"] }}</label
        >
        <label
          ><span>Date Initiated</span
          >{{ itemDetails["createdOn"] | date: "mediumDate" }}</label
        >
        <label
          ><span>Initiated By</span
          >{{
            itemDetails["initiatedBy"] ? itemDetails["initiatedBy"] : "---"
          }}</label
        >
      </div>
    </div>
  </div>
  <div class="grid grid--2fr--1fr mt-4" *ngIf="itemDetails">
    <div class="bg-white colored-border border-blue">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="title-sm">Pay Element Breakdown</div>
        <button
          mat-button
          class="btn--primary"
          data-bs-toggle="modal"
          data-bs-target="#addPayElement"
          *ngIf="
            statusValue(itemDetails['payrollStatus']) == 'Pending' ||
            statusValue(itemDetails['payrollStatus']) == 'Rejected'
          "
        >
          <mat-icon class="me-2">add</mat-icon>
          Add Pay Element
        </button>
      </div>
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <section *ngIf="itemDetails">
        <div class="title-md fw-500 mb-3">Earnings</div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <ng-container *ngFor="let item of payElementBreakdownList">
            <ng-container
              *ngIf="elementTypeValue(item['elementType']) == 'Earnings'"
            >
              <div class="d-flex justify-content-between">
                <label>{{ item["payElementName"] }}</label>
                <label>{{
                  item["totalAmount"] | currency: "₦":"symbol"
                }}</label>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  mat-button
                  class="btn--primary"
                  data-bs-toggle="modal"
                  data-bs-target="#editPayElement"
                  *ngIf="
                    statusValue(itemDetails['payrollStatus']) == 'Pending' ||
                    statusValue(itemDetails['payrollStatus']) == 'Rejected'
                  "
                >
                  Edit
                </button>
              </div>
            </ng-container>
          </ng-container>
          <div class="d-flex justify-content-between mt-4">
            <label>TOTAL EARNINGS</label>
            <label>{{
              itemDetails["totalEarning"] | currency: "₦":"symbol"
            }}</label>
          </div>
        </div>
      </section>
      <section class="mt-5 pt-4" *ngIf="itemDetails">
        <div class="title-md fw-500 mb-3">Deductions</div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <ng-container *ngFor="let item of payElementBreakdownList">
            <ng-container
              *ngIf="elementTypeValue(item['elementType']) == 'Deductions'"
            >
              <div class="d-flex justify-content-between">
                <label>{{ item["payElementName"] }}</label>
                <label>{{
                  item["totalAmount"] | currency: "₦":"symbol"
                }}</label>
              </div>
              <div class="d-flex justify-content-center">
                <button
                  mat-button
                  class="btn--primary"
                  data-bs-toggle="modal"
                  data-bs-target="#editPayElement"
                  *ngIf="
                    statusValue(itemDetails['payrollStatus']) == 'Pending' ||
                    statusValue(itemDetails['payrollStatus']) == 'Rejected'
                  "
                >
                  Edit
                </button>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </section>
      <div class="total" *ngIf="itemDetails">
        <div class="d-flex justify-content-between align-items-center">
          <label>TOTAL (GROSS)</label>
          <label>{{
            itemDetails["totalEarning"]
              ? (itemDetails["totalEarning"] | currency: "₦":"symbol")
              : "---"
          }}</label>
        </div>
      </div>
    </div>
    <div class="sticky">
      <ng-container *ngIf="!itemDetails">
        <app-loading-roller></app-loading-roller>
      </ng-container>
      <div class="bg-white colored-border border-green" *ngIf="itemDetails">
        <section>
          <div class="title-md fw-500 mb-4">Summary</div>
          <div class="grid grid--1fr--1fr grid-row-gap-20">
            <label>Total Earnings</label>
            <label>{{
              itemDetails["totalEarning"] | currency: "₦":"symbol"
            }}</label>
            <label>Total Deductions</label>
            <label>{{
              itemDetails["totalDeduction"] | currency: "₦":"symbol"
            }}</label>
          </div>
          <div class="total adjust">
            <div class="d-flex justify-content-between align-items-center">
              <label>TOTAL (GROSS)</label>
              <label>{{
                itemDetails["totalEarning"]
                  ? (itemDetails["totalEarning"] | currency: "₦":"symbol")
                  : "---"
              }}</label>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <ng-container *ngIf="itemDetails">
    <div
      class="d-flex align-items-center mt-5"
      *ngIf="
        statusValue(itemDetails['payrollStatus']) == 'Pending' ||
        statusValue(itemDetails['payrollStatus']) == 'Rejected'
      "
    >
      <button
        mat-flat-button
        (click)="onApprove()"
        *ngIf="statusValue(itemDetails['payrollStatus']) !== 'Rejected'"
      >
        Approve <mat-spinner *ngIf="isBusy"> </mat-spinner>
      </button>
      <button
        mat-flat-button
        class="btn-danger ms-3"
        (click)="onDecline()"
        *ngIf="
          statusValue(itemDetails['payrollStatus']) == 'Pending' ||
          !statusValue(itemDetails['payrollStatus']) == 'Rejected'
        "
      >
        Decline Payroll <mat-spinner *ngIf="isBusy_"> </mat-spinner>
      </button>
      <button
        mat-stroked-button
        [ngClass]="{
          'ms-3':
            statusValue(itemDetails['payrollStatus']) == 'Pending' || 'Rejected'
        }"
      >
        Rerun Payroll
      </button>
    </div>
  </ng-container>
</ng-container>
<!--Modal-->
<div class="modal fade" id="addPayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Add Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap w--500">
              <div class="input">
                <mat-select
                  placeholder="Pay element"
                  class="select"
                  multiple
                  #matSelect
                  (selectionChange)="handlePayElementChange($event)"
                >
                  <mat-select-trigger>
                    {{ payElements ? stripedObjValue : "" }}
                    <span class="more" *ngIf="payElementItems.length > 2">
                      +{{ payElementItems.length - 2 }} other item
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    #allSelected
                    (click)="toggleAllSelection()"
                    [value]="0"
                    >All</mat-option
                  >
                  <mat-option
                    *ngFor="let item of payElements"
                    [value]="item"
                    (click)="toggleOne()"
                  >
                    {{ item.payElementName }}
                  </mat-option>
                </mat-select>
              </div>
              <ng-container *ngIf="payElementItems.length !== 0">
                <div class="grid">
                  <div class="chips_wrap d-flex align-items-center">
                    <div
                      class="_chips animate__animated animate__bounceIn"
                      *ngFor="let chip of payElementItems; let i = index"
                    >
                      <span>{{ chip.payElementName }}</span>
                      <span (click)="dropItem(i)"
                        ><ion-icon name="close"></ion-icon
                      ></span>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div class="input">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button
                    class="me-4"
                    value="oneOff"
                    (change)="handleToggle($event)"
                    checked
                    id="oneOff"
                    >One Off</mat-radio-button
                  >
                  <mat-radio-button
                    value="recurrent"
                    (change)="handleToggle($event)"
                    id="recurrent"
                    >Recurrent</mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <ng-container>
                <div
                  class="hideDate animate__animated animate__fadeIn"
                  [ngClass]="{ show_date: payElementDuration === 'recurrent' }"
                >
                  <div class="input mb-0 me-3">
                    <label for="">Start Date</label>
                    <input type="date" (change)="onDateChange()" #txtDate />
                  </div>
                  <div class="input mb-0">
                    <label for=""
                      >End Date
                      <span class="txt-sm italize">(Optional)</span></label
                    >
                    <input type="date" (change)="onDateChange()" />
                  </div>
                </div>
              </ng-container>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">Add</button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editPayElement" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Edit Pay Element</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap w--500">
              <div class="d-flex align-items-center mb-4">
                <div class="input mb-0">
                  <label>Pension</label>
                  <input type="text" placeholder="Enter value" />
                </div>
                <div class="d-flex flex-column mx-2">
                  <span>&nbsp;</span>
                  <button type="button" mat-button class="txt-danger underline">
                    Delete
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center mb-4">
                <div class="input mb-0">
                  <label>Pension</label>
                  <input type="text" placeholder="Enter value" />
                </div>
                <div class="d-flex flex-column mx-2">
                  <span>&nbsp;</span>
                  <button type="button" mat-button class="txt-danger underline">
                    Delete
                  </button>
                </div>
              </div>
              <div class="d-flex align-items-center mb-4">
                <div class="input mb-0">
                  <label>Pension</label>
                  <input type="text" placeholder="Enter value" />
                </div>
                <div class="d-flex flex-column mx-2">
                  <span>&nbsp;</span>
                  <button type="button" mat-button class="txt-danger underline">
                    Delete
                  </button>
                </div>
              </div>
              <div class="input">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button
                    class="me-4"
                    value="oneOff"
                    (change)="handleToggle($event)"
                    checked
                    id="oneOff"
                    >One Off</mat-radio-button
                  >
                  <mat-radio-button
                    value="recurrent"
                    (change)="handleToggle($event)"
                    id="recurrent"
                    >Recurrent</mat-radio-button
                  >
                </mat-radio-group>
              </div>
              <ng-container>
                <div
                  class="hideDate animate__animated animate__fadeIn"
                  [ngClass]="{ show_date: payElementDuration === 'recurrent' }"
                >
                  <div class="input mb-0 me-3">
                    <label for="">Start Date</label>
                    <input type="date" (change)="onDateChange()" #txtDate_ />
                  </div>
                  <div class="input mb-0">
                    <label for=""
                      >End Date
                      <span class="txt-sm italize">(Optional)</span></label
                    >
                    <input type="date" (change)="onDateChange()" />
                  </div>
                </div>
              </ng-container>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">
                  Update
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
