<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title" *ngIf="screen == 1 && computeType === ''">
    Compute Gross/Net Pay
  </div>
  <div class="title" *ngIf="computeType">{{ computeType }}</div>
</div>
<div class="d-flex align-items-center mb-4">
  <a href="javascript:window.history.go(-1)" mat-button>
    <span class="icon-circ me-3"
      ><mat-icon mat-icon-button>arrow_back</mat-icon></span
    >
    Back
  </a>
</div>
<div class="bg-white" *ngIf="screen == 1">
  <div class="form-wrap w--700">
    <form>
      <div class="grid align-items-center">
        <label>Pay</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Select pay period"
            class="select"
            (selectionChange)="handdlePayPeriodSelect($event)"
            required
          >
            <mat-option disabled="" selected="" value="">
              Select report
            </mat-option>
            <mat-option *ngFor="let item of payPeriods" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Report</label>
        <div class="input mb-0">
          <mat-select
            placeholder="Select report"
            class="select"
            (selectionChange)="handdleSalaryTypeSelect($event)"
            required
          >
            <mat-option disabled="" selected="" value="">
              Select salary type
            </mat-option>
            <mat-option value="Gross"> Gross </mat-option>
            <mat-option value="Net Pay"> Net Pay </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Amount</label>
        <div class="input mb-0">
          <input type="text" placeholder="Enter amount" />
        </div>
      </div>
      <div class="grid">
        <span>&nbsp;</span>
        <div class="mt-3">
          <button
            mat-flat-button
            type="button"
            [disabled]="computeType === ''"
            (click)="gotoView('', 1)"
          >
            Compute
          </button>
        </div>
      </div>
    </form>
  </div>
  <div
    class="grid grid--2fr--1fr mt-4"
    *ngIf="screen === 1 && computeType === 'Gross'"
  >
    <div class="bg-white colored-border border-blue">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="title-sm">Gross Pay Breakdown</div>
        <button
          mat-button
          class="btn--primary"
          data-bs-toggle="modal"
          data-bs-target="#addEarnings"
        >
          <mat-icon class="me-2">add</mat-icon>
          Add Earnings
        </button>
      </div>
      <section>
        <div class="title-md fw-500 mb-3">Earnings</div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <div class="d-flex justify-content-between">
            <label>Basic</label>
            <label>₦ 78,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>25% of Gross</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>Transport</label>
            <label>₦ 78,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>12.5% of Gross</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>Rent</label>
            <label>₦ 56,000.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>12.5% of Gross</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>Other Allowances</label>
            <label>₦ 6,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>25% of Gross</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
        </div>
      </section>
      <div class="total">
        <div class="grid grid--repeat--two">
          <div class="d-flex justify-content-between align-items-center">
            <label>TOTAL (GROSS)</label>
            <label>₦ 576,768.81</label>
          </div>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="sticky">
      <div class="bg-white colored-border border-green">
        <section>
          <div class="title-md fw-500 mb-4">Summary</div>
          <div class="grid grid--1fr--1fr grid-row-gap-20">
            <label>Total Earnings</label>
            <label>₦ 78,768.81</label>
          </div>
          <div class="total adjust">
            <div class="d-flex justify-content-between align-items-center">
              <label>TOTAL (GROSS)</label>
              <label>₦ 576,768.81</label>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div
    class="grid grid--2fr--1fr mt-4"
    *ngIf="screen === 1 && computeType === 'Net Pay'"
  >
    <div class="bg-white colored-border border-blue">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="title-sm">Net Pay Breakdown</div>
        <button
          mat-button
          class="btn--primary"
          data-bs-toggle="modal"
          data-bs-target="#addPayElement"
        >
          <mat-icon class="me-2">add</mat-icon>
          Add Earnings
        </button>
      </div>
      <section>
        <div class="title-md fw-500 mb-3">Earnings</div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <div class="d-flex justify-content-between">
            <label>Basic</label>
            <label>₦ 78,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>25% of Gross</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>Transport</label>
            <label>₦ 78,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>12.5% of Gross</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>Rent</label>
            <label>₦ 56,000.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>12.5% of Gross</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>Other Allowances</label>
            <label>₦ 6,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>25% of Gross</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
        </div>
      </section>
      <section class="mt-5 pt-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="title-sm">Deductions</div>
          <button
            mat-button
            class="btn--primary"
            data-bs-toggle="modal"
            data-bs-target="#addDeduction"
          >
            <mat-icon class="me-2">add</mat-icon>
            Add Deductions
          </button>
        </div>
        <div class="grid grid--repeat--two list-items grid-row-gap-20">
          <div class="d-flex justify-content-between">
            <label>Pension</label>
            <label>₦ 78,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>8% of Basic</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editDeduction"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>Tax</label>
            <label>₦ 76,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>24% of Basic</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editDeduction"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>NHF</label>
            <label>₦ 56,000.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>2.5% of Basic</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editDeduction"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>ITF</label>
            <label>₦ 6,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>1% of Basic</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editDeduction"
            >
              Edit
            </button>
          </div>
          <div class="d-flex justify-content-between">
            <label>NSITF</label>
            <label>₦ 6,768.81</label>
          </div>
          <div class="d-flex align-items-center justify-content-evenly">
            <label>6% of Basic</label>
            <button
              mat-button
              class="btn--primary"
              data-bs-toggle="modal"
              data-bs-target="#editEarnings"
            >
              Edit
            </button>
          </div>
        </div>
      </section>
      <div class="total">
        <div class="grid grid--repeat--two">
          <div class="d-flex justify-content-between align-items-center">
            <label>TOTAL (GROSS)</label>
            <label>₦ 576,768.81</label>
          </div>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="sticky">
      <div class="bg-white colored-border border-green">
        <section>
          <div class="title-md fw-500 mb-4">Summary</div>
          <div class="grid grid--1fr--1fr grid-row-gap-20">
            <label>Total Earnings</label>
            <label>₦ 78,768.81</label>
            <label>Total Deductions</label>
            <label>₦ 76,768.81</label>
          </div>
          <div class="total adjust">
            <div class="d-flex justify-content-between align-items-center">
              <label>TOTAL (GROSS)</label>
              <label>₦ 576,768.81</label>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addEarnings" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Add Earnings</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap w--500">
              <div class="input">
                <label for="">Name</label>
                <input type="text" placeholder="Enter name" />
              </div>
              <div class="input">
                <label for="">Percentage Earning</label>
                <input type="text" placeholder="Enter value" />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">Add</button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addDeduction" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Add Deductions</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap w--500">
              <div class="input">
                <label for="">Name</label>
                <input type="text" placeholder="Enter name" />
              </div>
              <div class="input">
                <label for="">Percentage Earning</label>
                <input type="text" placeholder="Enter value" />
              </div>
              <div class="input mb-0">
                <label for="">Deduction Option</label>
                <mat-select
                  placeholder="Select options"
                  class="select"
                  required
                >
                  <mat-option disabled="" selected="" value="">
                    Select options
                  </mat-option>
                  <mat-option value="Basic">Basic</mat-option>
                  <mat-option value="Basic">Transport</mat-option>
                  <mat-option value="Basic">Rent</mat-option>
                  <mat-option value="Basic">Other Allowances</mat-option>
                </mat-select>
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-flat-button class="me-3">Add</button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editEarnings" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Edit Earnings</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap w--500">
              <div class="input">
                <label for="">Name</label>
                <input type="text" placeholder="Enter name" />
              </div>
              <div class="input">
                <label for="">Percentage Earning</label>
                <input type="text" placeholder="Enter value" />
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-button class="txt-danger">
                  Delete
                </button>
                <button type="button" mat-flat-button class="mx-3">
                  Update
                </button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editDeduction" role="dialog">
  <div class="modal-dialog modal-wrapper">
    <div class="modal-content-wrap">
      <div class="modal-body">
        <div
          class="header-top d-flex justify-content-between align-items-center px-4 py-3"
        >
          <div class="title">Edit Deductions</div>
          <ion-icon name="close-outline" data-bs-dismiss="modal"></ion-icon>
        </div>
        <div class="container">
          <form class="pb-3">
            <div class="form-wrap w--500">
              <div class="input">
                <label for="">Name</label>
                <input type="text" placeholder="Enter name" />
              </div>
              <div class="input">
                <label for="">Percentage Earning</label>
                <input type="text" placeholder="Enter value" />
              </div>
              <div class="input mb-0">
                <label for="">Deduction Option</label>
                <mat-select
                  placeholder="Select options"
                  class="select"
                  required
                >
                  <mat-option disabled="" selected="" value="">
                    Select options
                  </mat-option>
                  <mat-option value="Basic">Basic</mat-option>
                  <mat-option value="Basic">Transport</mat-option>
                  <mat-option value="Basic">Rent</mat-option>
                  <mat-option value="Basic">Other Allowances</mat-option>
                </mat-select>
              </div>
              <div class="d-flex align-items-center mt-5">
                <button type="button" mat-button class="txt-danger">
                  Delete
                </button>
                <button type="button" mat-flat-button class="mx-3">Add</button>
                <button
                  type="button"
                  mat-stroked-button
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
