<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">
    {{
      queryString === "add"
        ? "Create Payment Institution"
        : "Edit Payment Institution"
    }}
  </div>
</div>
<div class="bg-white">
  <div class="form-wrap">
    <form>
      <div class="grid align-items-center">
        <label>Institution Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="Institution name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Category</label>
        <div class="input mb-0">
          <mat-select
            class="select"
            required
            placeholder="Select category"
            (change)="handleCategorySelect($event)"
            *ngIf="categoryType !== 'New'"
          >
            <mat-option disabled="" selected="" value=""
              >Select category</mat-option
            >
            <mat-option value="Tax">Tax</mat-option>
            <mat-option value="Union">Union</mat-option>
            <mat-option value="New">Create New</mat-option>
          </mat-select>
          <input
            type="text"
            placeholder="Input category name"
            *ngIf="categoryType === 'New'"
          />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Account Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="Account name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Account Number</label>
        <div class="input mb-0">
          <input type="text" placeholder="Account number" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Bank</label>
        <div class="input mb-0">
          <mat-select class="select" placeholder="Select bank" required>
            <mat-option disabled="" selected="" value=""
              >Select bank</mat-option
            >
          </mat-select>
        </div>
      </div>
      <div class="grid align-items-center">
        <span>&nbsp;</span>
        <div class="d-flex align-items-center">
          <button type="button" mat-flat-button class="me-4">
            Save and Continue
          </button>
          <button type="button" mat-stroked-button>Save and Add New</button>
        </div>
      </div>
    </form>
  </div>
</div>
