<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">
    {{
      queryString === "add"
        ? "Create Payment Institution"
        : "Edit Payment Institution"
    }}
  </div>
</div>
<div class="bg-white">
  <div class="form-wrap">
    <form>
      <div class="grid align-items-center">
        <label>Institution Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="Institution name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Category</label>
        <div class="input mb-0">
          <select
            class="select"
            required
            (change)="handleCategorySelect($event)"
          >
            <option disabled="" selected="" value="">Select category</option>
            <option value="Tax">Tax</option>
            <option value="Union">Union</option>
            <option value="New">Create New</option>
          </select>
        </div>
      </div>
      <div class="grid align-items-center" *ngIf="categoryType === 'New'">
        <label>New Category</label>
        <div class="input mb-0">
          <input type="text" placeholder="Enter category name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Account Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="Account name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Account Number</label>
        <div class="input mb-0">
          <input type="text" placeholder="Account number" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Bank</label>
        <div class="input mb-0">
          <select class="select" required>
            <option disabled="" selected="" value="">Select bank</option>
          </select>
        </div>
      </div>
      <div class="grid align-items-center">
        <span>&nbsp;</span>
        <div class="d-flex align-items-center">
          <button type="button" mat-flat-button class="me-4">
            Save and Continue
          </button>
          <button type="button" mat-stroked-button>Save and Add New</button>
        </div>
      </div>
    </form>
  </div>
</div>
