/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/scss/_vars.scss";
@import "../src/scss/_buttons.scss";
@import "../src/scss/_input.scss";
@import "../src/scss/_misc.scss";

body,
html {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: $black;
}
.title-sm {
  font-size: 18px;
  font-weight: 500;
  color: $black;
}
.ruler {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.grid {
  display: grid;
  &--1fr--1fr {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  &--repeat--two {
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    align-items: center;
  }
}
