/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/scss/_vars.scss";
@import "../src/scss/_buttons.scss";
@import "../src/scss/_input.scss";
@import "../src/scss/_misc.scss";

body,
html {
  margin: 0;
  font-family: "Rubik", sans-serif;
  // overflow-x: hidden;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: $black;
}
.title-sm {
  font-size: 18px;
  font-weight: 500;
  color: $black;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.txt-sm {
  font-size: 12px;
}
.txt-md {
  font-size: 14px;
}
.italize {
  font-style: italic;
  font-size: 11px;
  color: $light-grey;
  font-weight: 300;
}
.txt-grey {
  color: $light-grey;
}
.ruler {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.grid {
  display: grid;
  &.grid-row-gap-20 {
    grid-row-gap: 20px;
  }
  &--1fr--1fr {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  &--2fr--1fr {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
  }
  &--repeat--two {
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    align-items: center;
  }
  &--repeat--four {
    grid-template-columns: repeat(4, 25%);
  }
}
