<div class="card">
  <div class="header d-flex justify-content-between align-items-center">
    <div class="title-sm">Upcoming Payroll</div>
    <div><button mat-button class="btn-link">View all</button></div>
  </div>
  <div class="event-date-list">
    <div class="d-flex flex-column align-items-center">
      <div class="dated-squr active">
        <label><span>Dec</span>25</label>
      </div>
      <label class="title-label">Monday</label>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="dated-squr">
        <label><span>Dec</span>26</label>
      </div>
      <label class="title-label">Tuesday</label>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="dated-squr">
        <label><span>Dec</span>27</label>
      </div>
      <label class="title-label">Wednessday</label>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="dated-squr">
        <label><span>Dec</span>28</label>
      </div>
      <label class="title-label">Thursday</label>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="dated-squr">
        <label><span>Dec</span>29</label>
      </div>
      <label class="title-label">Friday</label>
    </div>
  </div>
  <div class="ruler"></div>
  <div class="events">
    <div class="item">
      <label>Workshop</label>
      <label>Managing Employees</label>
      <label>11 AM - 12 PM</label>
    </div>
    <div class="item">
      <label>Seminar</label>
      <label>Marketing</label>
      <label>10 AM - 2 PM</label>
    </div>
  </div>
</div>
