<div class="header d-flex align-items-center justify-content-between mb-4">
  <div class="title">Add New Employee</div>
</div>
<div class="bg-white">
  <div class="form-wrap">
    <form>
      <div class="grid align-items-center">
        <label>First Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="First name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Middle Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="Middle name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Last Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="Last name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Phone Number</label>
        <div class="input mb-0">
          <input type="number" placeholder="Phone number" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Account Number</label>
        <div class="input mb-0">
          <input type="number" placeholder="Account number" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Bank Name</label>
        <div class="input mb-0">
          <input type="text" placeholder="Bank name" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>PFA</label>
        <div class="input mb-0">
          <input type="text" placeholder="PFA number" />
        </div>
      </div>
      <div class="grid align-items-center">
        <label>Tax ID</label>
        <div class="input mb-0">
          <input type="text" placeholder="Tax id" />
        </div>
      </div>

      <div class="grid align-items-center">
        <span>&nbsp;</span>
        <div class="d-flex align-items-center">
          <button type="button" mat-flat-button class="me-4">Save</button>
          <button type="button" mat-stroked-button>Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
